// Default values
// $highlight-secondary: #faa61a;
// $highlight-tertiary: #ed4245;

//---OLD BLURPLE---
// $highlight: #7289da;
// $light: #36393f;
// $medium: #2f3136;
// $dark: #202225;

//---HALLOWEEN---
// $highlight: #ff8103;
// $light: #323232;
// $medium: #2d2d2d;
// $dark: #212121;

//---ARC COLORS---
$highlight: #5294e2;
$light: #353945;
$medium: #2f343f;
$dark: #262b36;
$dark-gray: #2d2d2d;

$white: #fff;
$black: #000;
$gray: #d8d8d8;

$dark-gray: $dark !default;
$highlight-secondary: $highlight !default;
$highlight-tertiary: $highlight !default;

$red: #f2777a;
$orange: #f99157;
$yellow: #fc6;
$green: #9c9;
$blue: #69c;
$purple: #c9c;
$silver: #708090;

$highlight-dark: darken($highlight, 5%);
