@include svg((
    viewBox: 0 0 16 16
)) {
  @include svg('g') {
    @include svg('path', (
        fill: $highlight,
        d: 'M7.2,4.1C7,4.2,7.1,4.3,7,4.3C6.9,4.3,6.9,4.1,7.2,4.1z M7.6,4.2c0.1,0,0.2,0.1,0.2,0.1   C7.9,4.2,7.9,4.1,7.6,4.2z M12.8,14c-0.5,0.2-1.1,0.7-1.3,1c-0.2,0.2-0.9,0.2-1.2,0c-0.5-0.2-0.2-0.6-0.9-0.6c-0.4,0-0.7,0-1,0   c-0.3,0-0.6,0-0.9,0c-1.1,0-1.2,0.7-1.8,0.7c-0.5,0-1-0.4-2-0.6C2.8,14.4,2.1,14.3,2,14c-0.1-0.3,0.2-0.7,0.2-1   c0-0.4-0.3-1-0.1-1.2c0.2-0.2,0.6,0,0.9-0.2c0.3-0.2,0.4-0.3,0.4-0.7c0.1,0.4,0,0.7-0.3,0.8C3.1,11.9,2.8,12,2.6,12   c-0.2,0-0.3,0-0.3,0.1c-0.1,0.1,0,0.2,0,0.5c0.1,0.2,0.2,0.3,0.2,0.6c0,0.3-0.3,0.6-0.3,0.8c0,0.1,0.1,0.2,0.3,0.2   c0.3,0.1,0.9,0.2,1.5,0.3c0.6,0.2,1.3,0.4,1.7,0.4C6.8,14.6,6.1,13.3,6,13c-1-1.6-1.7-2.7-2.2-2.2c-0.1,0.1-0.1-0.3-0.1-0.4   c0-0.5,0.3-0.7,0.5-1.1c0.3-0.8,0.5-1.7,1-2.1c0.3-0.4,0.9-1.2,1-1.5C5.9,4.7,5.9,3.8,5.9,3.1c0-0.8,0.1-1.5,1-2   c0.2-0.1,0.5-0.2,0.8-0.2c0.6,0,1.2,0.1,1.6,0.4c0.6,0.5,1,1.4,1,2.1c0,0.5,0.1,1.1,0.2,1.7c0.2,0.7,0.5,1.2,1.1,1.7   c0.6,0.7,1.1,2,1.3,2.8c0.1,0.8,0,1.3-0.2,1.3c-0.3,0-0.4,0.8-1.2,0.8c-0.5,0-0.6-0.3-0.7-0.6c-0.2-0.4-0.5-0.3-0.6,0.1   c0,0.2,0,0.5,0.1,0.8c0.1,0.5,0.1,1,0,1.5C10,14.8,11,15,11.6,14.5c0.6-0.5,0.8-0.6,1.5-0.9c1.2-0.4,0.8-0.8,0.1-1   c-0.6-0.2-0.6-1.2-0.4-1.3c0,1,0.6,1.2,0.8,1.3C14.7,13.2,13.3,13.7,12.8,14z M10.1,11c0.1-0.1,0.2-0.1,0.4-0.1   c0-0.6,1-0.6,1.3-0.3c0-0.1-0.3-0.3-0.4-0.3c0.2-0.7,0.1-1,0-1.7c-0.1-0.5-0.6-1.2-0.9-1.4c0.1,0.1,0.3,0.3,0.5,0.7   c0.3,0.6,0.6,1.5,0.4,2.2c-0.1,0.3-0.3,0.3-0.4,0.3c-0.6,0.1-0.2-0.7-0.5-1.7C10.2,7.5,10,7.4,9.9,7.3C9.6,5.9,9.2,6,9.1,5.5   C9,5,9.5,4.6,8.8,4.5c-0.2,0-0.5-0.3-0.6-0.3C8.1,4.2,8,3.4,8.4,3.4c0.4,0,0.5,0.5,0.4,0.7c-0.1,0.2,0,0.3,0.2,0.2   c0.2-0.1,0.1-0.5,0.1-0.6C9.1,3,8.8,2.9,8.5,2.9C7.4,3,7.9,4.2,7.8,4.1C7.7,3.9,7.2,4.1,7.2,4c0-0.6-0.2-1-0.5-1   C6.4,3,6.3,3.4,6.3,3.7c0,0.2,0.1,0.7,0.3,0.7c0.1,0,0.2-0.2,0.1-0.2C6.5,4.2,6.4,4,6.4,3.8c0-0.2,0.1-0.4,0.3-0.4C7,3.4,7,4,7,4.1   C6.9,4.1,6.8,4.3,6.8,4.3C6.7,4.5,6.5,4.5,6.4,4.6C6.2,4.7,6.2,4.9,6.3,4.9c0.4,0.2,0.2,0.4,0.8,0.5c0.3,0,0.6-0.1,0.8-0.1   c0.2-0.1,0.7-0.2,0.9-0.4c0.1-0.1,0.1-0.1,0.2-0.1C9,4.9,9,5,8.8,5.1C8.5,5.1,8.2,5.3,8,5.4C7.7,5.5,7.7,5.5,7.4,5.6   C6.9,5.7,6.5,5.4,6.9,5.7C7,5.8,7.1,5.9,7.4,5.9c0.7,0,1.4-0.8,1.5-0.5c0,0.1-0.2,0.2-0.4,0.3C7.9,6,7.4,6.6,7,6.4   C6.7,6.2,6.3,5.3,6.3,5.7c0,0.6-0.8,1.2-0.4,1.8C5.7,7.6,5.1,8.8,5,9.4c0,0.3,0,0.8,0,1c-0.1,0.3-0.7-0.3-0.5-1.2   c0-0.1,0-0.2,0-0.1c-0.2,0.4-0.1,0.9,0.1,1.3c0.1,0.2,0.3,0.2,0.4,0.4c0.3,0.3,1.4,1.1,1.6,1.3C6.7,12.4,6.7,13,6.1,13   c0.3,0.5,0.5,0.5,0.5,1.3c0.3-0.2,0.2-0.5,0.1-0.7c-0.1-0.2-0.2-0.2-0.2-0.3c0,0,0.2-0.2,0.3-0.1c0.3,0.3,0.8,0.4,1.3,0.3   c0.5-0.1,1.1-0.3,1.4-0.7c0.1-0.2,0.2-0.3,0.3-0.2c0.1,0,0.1,0.2,0.1,0.4c0,0.3-0.1,0.5-0.2,0.7c-0.1,0.2-0.1,0.4,0.1,0.4   c0.1-0.4,0.2-0.9,0.2-1.3C10.1,12.4,9.7,11.4,10.1,11z M6.8,3.8c0,0.1,0,0.2,0.1,0.2c0,0,0,0,0,0c0-0.2-0.1-0.3-0.1-0.4   c-0.1,0-0.1,0.1,0,0.1C6.8,3.7,6.8,3.7,6.8,3.8z M8.6,3.5C8.5,3.5,8.5,3.6,8.6,3.5c0,0.1,0.1,0.2,0.1,0.3c0,0,0.1,0,0.1,0   C8.8,3.6,8.6,3.5,8.6,3.5z'
    ))
  }
}
