@include svg((
    viewBox: 0 0 100 100
)) {
  @include svg('g') {
    @include svg('path', (
        fill-rule: evenodd,
        clip-rule: evenodd,
        fill: $highlight,
        d: 'M88,70.8c-2.1,4.6-3.1,6.7-5.7,10.8c-3.7,5.7-9,12.8-15.5,12.9   c-5.8,0.1-7.3-3.8-15.1-3.8c-7.9,0-9.5,3.8-15.3,3.8c-6.5-0.1-11.5-6.5-15.2-12.2C10.6,66.3,9.6,47.6,16,37.6   c4.6-7.1,11.8-11.2,18.6-11.2c6.9,0,11.3,3.8,17,3.8c5.5,0,8.9-3.8,16.9-3.8c6,0,12.4,3.3,17,9C70.5,43.6,72.9,65.1,88,70.8   L88,70.8z'
    ));

    @include svg('path', (
        fill-rule: evenodd,
        clip-rule: evenodd,
        fill: $highlight,
        d: 'M62.4,19.9c2.9-3.7,5.1-9,4.3-14.5c-4.7,0.3-10.3,3.4-13.5,7.3   c-2.9,3.6-5.4,8.9-4.4,14.1C53.9,27.1,59.3,24,62.4,19.9L62.4,19.9z'
    ));
  }
}
