@include svg((
    width: 48,
    height: 48,
    viewBox: 0 0 48 48
)) {
  @include svg('g', (
      fill: none,
      fill-rule: evenodd
  )) {
    @include svg('path', (
        fill: $highlight,
        fill-rule: nonzero,
        d: 'M24,10 C27.3142857,10 30,12.6857143 30,16 C30,19.3142857 27.3142857,22 24,22 C20.6857143,22 18,19.3142857 18,16 C18,12.6857143 20.6857143,10 24,10 L24,10 Z M38,34 L38,38 L10,38 L10,34 C10,32 17.1836066,28 24,28 C30.8163934,28 38,32 38,34 Z M24,8 C19.58,8 16,11.58 16,16 C16,20.42 19.58,24 24,24 C28.42,24 32,20.42 32,16 C32,11.58 28.42,8 24,8 Z M24,26 C18.66,26 8,28.68 8,34 L8,40 L40,40 L40,34 C40,28.68 29.34,26 24,26 Z'
    ));

    @include svg('polygon', (
        fill: $highlight,
        points: '42 20 47 20 47 22 42 22 42 27 40 27 40 22 35 22 35 20 40 20 40 15 42 15'
    ));

    @include svg('polygon', (
        points: '0 0 48 0 48 48 0 48'
    ));
  }
}
