@include svg((
    viewBox: 0 0 50 50
)) {
  @include svg('g', (
      opacity: .102
  )) {
    @include svg('g') {
      @include svg('path', (
          fill: $highlight,
          d: 'M25,15c8.8,0,16,7.2,16,16.1s-7.2,16.1-16,16.1S9,40,9,31.1S16.2,15,25,15 M25,13c-9.9,0-18,8.1-18,18.1    s8.1,18.1,18,18.1s18-8.1,18-18.1S34.9,13,25,13L25,13z'
      ));
    }
  }

  @include svg('g', (
      opacity: .2
  )) {
    @include svg('g') {
      @include svg('path', (
          fill: $highlight,
          d: 'M25,19.7c6.2,0,11.3,5.1,11.3,11.4S31.2,42.4,25,42.4S13.7,37.3,13.7,31S18.8,19.7,25,19.7 M25,16.7    c-7.9,0-14.3,6.4-14.3,14.4S17.1,45.4,25,45.4S39.3,39,39.3,31.1S32.9,16.7,25,16.7L25,16.7z'
      ));
    }
  }

  @include svg('path', (
      fill-rule: evenodd,
      clip-rule: evenodd,
      fill: none,
      stroke: $highlight,
      stroke-width: 2,
      stroke-linecap: round,
      stroke-linejoin: round,
      stroke-miterlimit: 10,
      d: '  M34.4,7.8c1-3.7-0.4-5.6-2.5-6.2C29.7,1,27.6,2,26.6,5.7c-1,3.7-0.5,17.3-0.5,17.3S33.4,11.4,34.4,7.8z'
  ));

  @include svg('circle', (
      fill-rule: evenodd,
      clip-rule: evenodd,
      fill: none,
      stroke: $highlight,
      stroke-width: 2,
      stroke-linecap: round,
      stroke-linejoin: round,
      stroke-miterlimit: 10,
      cx: 25,
      cy: 31,
      r: 5
  ));
}
