@include svg((
    width: 24,
    height: 24,
    viewBox: 0 0 24 24
)) {
  @include svg('g', (
      fill: none,
      fill-rule: evenodd,
      transform: matrix(-1 0 0 1 24 0)
  )) {
    @include svg('rect', (
        width: 24,
        height: 24
    ));

    @include svg('g', (
        transform: matrix(-1 0 0 1 21 3)
    )) {
      @include svg('path', (
          fill: $white,
          d: 'M16,9 C16,10.19 15.66,11.3 15.1,12.28 L13.87,11.05 C14.14,10.43 14.3,9.74 14.3,9 L16,9 L16,9 Z M12,9.16 L6,3.18 L6,3 C6,1.34314575 7.34314575,4.4408921e-16 9,0 C10.6568542,0 12,1.34314575 12,3 L12,9 L12,9.16 L12,9.16 Z M12.54,14.81 C11.77,15.27 10.91,15.58 10,15.72 L10,19 L8,19 L8,15.72 C4.72,15.23 2,12.41 2,9 L3.7,9 C3.7,12 6.24,14.1 9,14.1 C9.81,14.1 10.6,13.91 11.31,13.58 L9.65,11.92 L9,12 C7.34314575,12 6,10.6568542 6,9 L6,8.28 L12.54,14.81 Z'
      ));

      @include svg('polygon', (
          fill: $highlight,
          points: '1.27 1 18 17.73 16.73 19 0 2.27'
      ));
    }
  }
}
