@include svg((
    viewBox: 0 0 100 100
)) {
  @include svg('g') {
    @include svg('path', (
        fill-rule: evenodd,
        clip-rule: evenodd,
        fill: $highlight,
        d: 'M78.1,66.5c-2.7,0-4.9-2.2-4.9-4.8V41.2c0-2.7,2.2-4.8,4.9-4.8   c2.7,0,4.9,2.2,4.9,4.8v20.4C83,64.3,80.8,66.5,78.1,66.5z M65.7,73.9h-2.2v10.3c0,2.7-2.2,4.8-4.9,4.8c-2.7,0-4.9-2.2-4.9-4.8   V73.9h-6.5v10.3c0,2.7-2.2,4.8-4.9,4.8c-2.7,0-4.9-2.2-4.9-4.8V73.9h-2.2c-2.5,0-4.7-1.4-5.8-3.5h-0.5V69c-0.1-0.5-0.2-1-0.2-1.5   V38.7h0.2v-0.1h41.8v31.7h-0.6C69.7,72.4,68.2,73.9,65.7,73.9z M70.7,36H29c0.5-7.2,4.6-13.5,10.5-17l-4.1-6.8l2-1.3l4.6,6.8   c2.6-1.1,5.5-1.8,8.6-1.8c3.2,0,6,0.7,8.6,1.9l4.1-6.5l2.2,0.9l-3.9,7C66.9,22.8,70.3,29,70.7,36z M40.9,24.4c-1.3,0-2.3,1-2.3,2.3   c0,1.2,1,2.3,2.3,2.3c1.3,0,2.3-1,2.3-2.3C43.2,25.4,42.2,24.4,40.9,24.4z M60.2,24.5c-1.2,0-2.2,1-2.2,2.1c0,1.2,1,2.1,2.2,2.1   c1.2,0,2.2-1,2.2-2.1C62.4,25.5,61.4,24.5,60.2,24.5z M21.2,66.5c-3,0-4.2-2.4-4.2-5.4V41.8c0-3,1.3-5.4,4.2-5.4   c3,0,5.4,2.4,5.4,5.4v19.3C26.7,64.1,24.2,66.5,21.2,66.5z'
    ))
  }
}
