@include svg((
    width: 24,
    height: 24,
    viewBox: 0 0 24 24
)) {
  @include svg('g', (
      fill: none,
      fill-rule: evenodd
  )) {
    @include svg('path', (
        fill: $white,
        d: 'M17.43,5.84 C17.8,6.82 18,7.89 18,9 L18,17 C18,18.6568542 16,19 16,19 L12,19 L12,11.27 L6,17.27 L6,19 L4.27,19 L1.77,21.5 L17.43,5.84 Z M9,0 C11.53,0 13.82,1.04 15.45,2.72 L14.04,4.14 C12.77,2.82 11,2 9,2 C5.13400675,2 2,5.13400675 2,9 L2,11 L6,11 L6,12.18 L0.5,17.67 C0.19,17.19 0,16.62 0,16 L0,9 C-1.33226763e-15,4.02943725 4.02943725,1.33226763e-15 9,4.4408921e-16 L9,0 Z M16,11 L16,9 C16,8.46 15.94,7.94 15.83,7.44 L12.27,11 L16,11 Z',
        transform: matrix(-1 0 0 1 21 2)
    ));

    @include svg('polygon', (
        fill: $highlight,
        points: '1.27 19.5 0 18.22 17.72 .5 19 1.77',
        transform: matrix(-1 0 0 1 20 4)
    ))
  }
}
