@import '../variables';

@-moz-document url(chrome://browser/content/browser.xhtml) {
  .findbar-textbox[focused='true'] { border-width: 1px !important; }

  .findbar-find-previous,
  .findbar-find-next { background: none !important; }

  .findbar-button .toolbarbutton-text { background: none !important; }
  .findbar-button:hover,
  .findbar-button[checked='true'] {
    background: $medium !important;

    .toolbarbutton-text {
      color: $white !important;
      background: $medium !important;
    }
  }
}
