@import '../variables';

@-moz-document url(chrome://browser/content/browser.xhtml) {
  #navigator-toolbox > toolbar:not(#toolbar-menubar):not(#TabsToolbar) {
    background-image: none !important;
  }
}
