@import '../variables';

@-moz-document url(chrome://browser/content/browser.xhtml) {
  .private-browsing-indicator { margin: 0 !important; }

  .private-browsing-indicator,
  #tabbrowser-tabs,
  #new-tab-button,
  .tabs-alltabs-button { background-color: $light !important; }

  .tab-background[selected='true'] { background-image: none !important; }

  .tabbrowser-arrowscrollbox > {
    .arrowscrollbox-overflow-start-indicator:not([collapsed]),
    .arrowscrollbox-overflow-end-indicator:not([collapsed]) {
      background-image: none !important;
    }

    .scrollbutton-down,
    .scrollbutton-up { border-right: 1px solid $dark; }
  }
}
