@import '../variables';

body { color: $gray !important; }

.tip-us {
  color: $highlight !important;
  &:hover { color: $highlight-dark !important; }
}

.comment-btn {
  background: $highlight !important;
  &::after { border-left-color: $highlight !important; }
}

.post-hotness-meter { background: $dark !important; }
.post-date-time { color: $gray !important; }

// links to other posts
.post-list {
  background: $light !important;
  border-color: $dark !important;

  .cell-content h4 { color: $gray !important; }

  .list-item {
    border-color: $dark !important;

    &:hover {
      background-color: $medium !important;
      .cell-content h4 { color: $white !important; }
    }
  }
}

.header { background: $light !important; }
.ap-nav-wrapper { background: $dark !important; }
.ap-nav-sub { color: $gray !important; }

.ap-new-articles-btn {
  background: $highlight !important;
  &:hover { background: $highlight-dark !important; }
}

.ap-sidebar-title { color: $gray !important; }
.ap-dropdown-trigger { color: $highlight !important; }

.ap-dropdown-content {
  background: $medium !important;

  a {
    color: $gray !important;
    &:hover { background-color: $dark !important; }
    &:not(.active):hover { color: $white !important; }
  }

  .active { color: $highlight !important; }
}

// new articles
#news-slider {
  background: $light !important;

  .slides > li { border-color: $dark !important; }

  .cell-wrapper {
    border-color: $dark !important;
    h4 { color: $gray !important; }

    &:hover {
      background-color: $medium !important;
      h4 { color: $white !important; }
    }
  }
}

.fs-navigation {
  background: $medium !important;
  border-color: $medium !important;
}

.fs-control {
  border-color: $dark !important;
  color: $gray !important;
}

.fs-control-prev,
.fs-control-next {
  &:not(.disabled):hover {
    background-color: $dark !important;
    color: $white !important;
  }
}

// header dropdown menus
.drop-down {
  .current {
    background: $light !important;
    .ap-nav-sub { color: $white !important; }
  }

  .sub-cat {
    background: $medium !important;

    li:hover {
      background: $light !important;
      a { color: $white !important; }
    }
  }

  #article-list { background: $light !important; }

  .news-articles {
    border-color: $dark !important;
  }

  .cell-wrapper {
    background: $light !important;
    border-color: $dark !important;
    h4 { color: $gray !important; }

    &:hover {
      background: $medium !important;
      h4 { color: $gray !important; }
    }
  }


  .more-btn {
    background: $light !important;
    border-color: $dark !important;
    color: $gray !important;
    &:hover { color: $white !important; }
  }
}

.search-box form input { background: $light !important; }

// search autocomplete
.cat-select { background: $dark !important; }
.cat-item a:hover { background: $light !important; }

// results found and sort options
.search-results {
  .lead {
    color: $gray !important;
    em { color: $white !important; }
  }

  .btn {
    background-color: $dark !important;
    color: $gray !important;

    &:hover,
    &.active { color: $highlight !important; }
  }
}

.sub-nav {
  background: $light !important;
  border-color: $light !important;
  li a:not([title='donate']):not(.tip-us) { color: $gray !important; }
  li a:not(.tip-us):hover { color: $white !important; }
}

.content.main { background: $medium !important; }

.post {
  background: $light !important;
  border-color: $dark !important;
  box-shadow: none !important;
  color: $gray !important;

  h2 a {
    color: $gray !important;
    &:hover { color: $highlight !important; }
  }

  .post-content a:not(.read-more):not(.btn):not(.banner):not(.no-style) {
    border-color: transparent !important;
    color: $highlight !important;
  }

  .note-heading { background-color: $dark !important; }

  .note {
    background-color: $medium !important;
    border-color: $dark !important;
  }

  .read-more {
    background-color: $highlight !important;
    &:hover { background-color: $highlight-dark !important; }
  }
}

.author-name { color: $gray !important; }

.share-btns li {
  background-color: $dark !important;
  border-color: $dark !important;
  color: $gray !important;
  pointer-events: none !important;
}

.share-btn { display: none !important; }

.shares {
  color: $gray !important;

  .count {
    background-color: $dark !important;
    border-color: $dark !important;

    &::before,
    &::after { border-right-color: $dark !important; }
  }
}

// series box
.primary-widget {
  section { border-color: $dark !important; }

  .btn {
    background-color: $dark !important;
    color: $gray !important;
    &:hover { color: $highlight !important; }
  }
}

.categories,
.post-categories { border-color: $dark !important; }

.post-categories li a {
  background-color: $medium !important;
  border-color: $dark !important;
  &:hover { color: $gray !important; }
}

.pollbar {
  background: $dark !important;
  border-color: $dark !important;
}

blockquote {
  background: transparent !important;
  border-left: 12px solid $dark !important;
  padding-left: 18px !important;

  p {
    color: $gray !important;
    text-shadow: none !important;
  }
}

// android app links
.wpappbox {
  background: $medium !important;
  border-color: $dark !important;
  color: $gray !important;

  &.googleplay .applinks {
    background-color: $medium !important;
    border-color: $dark !important;
  }
}

.rating-stars { filter: invert(80%) !important; }

.appbuttons a,
.appbuttons span {
  background-color: $dark !important;
  color: $gray !important;
}

// post tags
.horizontal-boxes li {
  background-color: $dark !important;
  border-color: $dark !important;

  a {
    color: $gray !important;

    &:hover {
      background-color: $medium !important;
      color: $white !important;
    }
  }

  &.green-border {
    background: $highlight !important;
    border-color: $highlight !important;
  }
}

.section-header {
  border-color: $dark !important;
  .header-bg { background: $highlight !important; }
}

// sidebar
#sbar {
  .widget {
    section {
      background: $light !important;
      border-color: $dark !important;
      box-shadow: none !important;
      a { color: $gray !important; }
    }

    .card-action { border-color: $dark !important; }
  }

  .cell-wrapper {
    border-color: $dark !important;

    &:hover {
      background: $medium !important;
      h4 { color: $white !important; }
    }
  }
}

// stuff between post and comments
.post-footer {
  background: $light !important;
  border-color: $dark !important;
  box-shadow: none !important;
}

.post-footer-inner {
  background: $light !important;
  .widget { border-color: $dark !important; }
}

#disqus_thread { background-color: $white !important; }

// page navigation
.wp-pagenavi {
  background: $light !important;
  border-color: $dark !important;
  box-shadow: none !important;

  .pages { color: $gray !important; }

  .current {
    border-color: $light !important;
    color: $white !important;
  }

  .first,
  .prevpostslink:hover,
  .page:hover,
  .nextpostslink:hover,
  .last:hover { color: $white !important; }
}

.footer { background: $dark !important; }
