@import '../variables';

.modal-manager .modal-overlay { background-color: $medium-transparent !important; }

.modal-window {
  background-color: $dark !important;
  color: $gray !important;

  .actions,
  .modal-dialog-action-bar {
    border-color: $dark !important;
    .action-button.primary { color: $highlight !important; }
  }
}

.theme-bg {
  background-color: $light !important;
  color: $gray !important;
}

.toggle-switch.checked::before { background-color: $highlight !important; }

.full-screen-payment-sheet {
  .animated-success-icon { color: $highlight !important; }

  .display-amount-input-component {
    color: $highlight !important;

    input[type="number"],
    input[type="tel"],
    input[type="text"] { color: $highlight !important; }
  }
}

.create-transfer .start-transfer-button {
  background-color: $medium !important;
  border-color: $medium !important;
  color: $highlight !important;
}

.payment-initiator {
  .field {
    background-color: $medium !important;
    border-color: $medium !important;

    input {
      background-color: $medium !important;
      color: $gray !important;
    }
  }

  .start-payment-button {
    background-color: $highlight !important;
    border-color: $highlight !important;
  }
}

.customer-chooser .error-message { color: $red !important; }
.customer-list-picker { border-color: $dark !important; }

.customer-list-item {
  background-color: $dark !important;
  border-color: $dark !important;
  .selection-indicator.is-selected { background-color: $highlight !important; }
}

.tokenized-customer {
  background-color: $dark !important;
  border-color: $dark !important;
}

.account-navigation-bar {
  background-color: $dark !important;

  .customer-profile-simple {
    color: $gray !important;
    .cashtag a { color: $highlight !important; }
  }

  .nav-item {
    color: $gray !important;

    &:active { color: $gray !important; }

    &:hover,
    &.active { color: $highlight !important; }

    &.create-payment .button-text { background-color: $highlight !important; }
  }
}

.activity-history { background-color: $medium !important; }

.activity-header {
  background-color: $light !important;
  border-color: $medium !important;
}

#search_term {
  background-color: $light !important;
  color: $gray !important;
}

.activity-list {
  background-color: $light !important;
}

.activity-list-item:hover {
  background-color: $medium !important;
  outline-color: $medium !important;
}

.customer-avatar.colorize {
  background-color: $dark !important;
}

.activity-list-content {
  border-color: $medium !important;
  .title { color: $gray !important; }
  .sent { color: $red !important; }
  .received { color: $green !important; }
}

.receipt-card {
  .customer-profile-simple .display-name,
  .receipt-amount .display-amount,
  .receipt-status { color: $gray !important; }

  .receipt-table { border-color: $dark !important; }

  .receipt-overflow-buttons {
    border-color: $dark !important;

    a {
      background-color: $light !important;
      color: $gray !important;
      border-color: $dark !important;
    }
  }
}

.activity-header .icon-csv-download {
  &.active,
  &:hover {
    .download-text { color: $highlight !important; }
  }
}

.flyout-menu { background-color: $medium !important; }

.activity-statement-selector {
  .export-csv { border-color: $dark !important; }

  .activity-statement-selector-item:hover,
  .export-csv:hover { color: $highlight !important; }
}

.activity-statement-header {
  border-color: $dark !important;

  .sqc-close-button,
  .print-statement { color: $highlight !important; }
}

.balance-table .balance-table-cell {
  border-color: $medium !important;
  .amount { color: $medium !important; }
}

.activity-statement-list {
  .customer-info {
    border-color: $medium !important;
    .customer-alias { color: $highlight !important; }
  }

  .activity-list { border-color: $dark !important; }

  .activity-statement-item {
    border-color: $dark !important;
    .name { color: $gray !important; }
  }
}

.dda-info { background-color: $dark !important; }

.layout-mycash { background-color: $light !important; }

.balance-content {
  .balance-amount { color: $highlight !important; }
  .card-likeness.enabled { background-color: $dark !important; }

  .cash-out {
    background-color: $medium !important;
    border-color: $medium !important;
    color: $highlight !important;

    &:hover {
      background-color: $dark !important;
      color: $highlight-dark !important;
    }
  }
}

.dda-display .dda-numbers,
.limits-overview .limit-types {
  background-color: $medium !important;
  border-color: $medium !important;
  color: $gray !important;
}

.dda-display .dda-numbers { cursor: default !important; }
.limits-overview .limit-types .limit-type-section { border-color: $dark !important; }

.layout-edit-settings { background-color: $light !important; }

.edit-settings-header {
  background-color: $medium !important;
  border-color: $medium !important;
}

.customer-avatar .add-photo-placeholder { background-color: $medium !important; }
.cashtag a { color: $highlight !important; }

.account-module-container {
  background-color: $medium !important;

  .settings-display-field::before,
  .settings-submodule::before { border-color: $dark !important; }
}

.settings-display-field {
  background-color: $medium !important;
  color: $gray !important;
}

.settings-display-field .field input,
.layout-edit-settings .text-area-with-char-count textarea {
  background-color: $medium !important;
  color: $gray !important;
}

.instrument-item .available-funds { color: $highlight !important; }

.notification-preferences {
  .field-group {
    background-color: $medium !important;
    border-color: $medium !important;
  }

  .notification-preference-item { border-color: $dark !important; }
}
