@import '../variables';
@import '../functions';
@import '../../node_modules/sassdash/index';
@import '../../node_modules/sass-svg/index';

:root {
  --accent-primary: #{$highlight} !important;
  --accent-primary-rgb: #{hexToRGBString($highlight)} !important;
  --accent-secondary: #{$highlight-dark} !important;
  --accent-secondary-rgb: #{hexToRGBString($highlight-dark)} !important;
  --brand-experiment: var(--accent-primary) !important;
  --background-accent: #{$silver} !important;
  --background-accent-secondary: #{darken($silver, 5%)} !important;
  --background-mentioned-bright: #{$highlight-secondary} !important;
  --background-mentioned: #{transparentize($highlight-secondary, 0.85)} !important;
  --background-mentioned-hover: #{transparentize(darken($highlight-secondary, 5%), 0.85)} !important;
  --accent-notification: #{$highlight-tertiary} !important;
}

.theme-dark {
  --background-primary: #{$light} !important;
  --background-primary-alt: #{darken($light, 1%)} !important;
  --background-secondary: #{$medium} !important;
  --background-secondary-alt: #{darken($medium, 3%)} !important;
  --background-tertiary: #{$dark} !important;
  --background-floating: var(--background-tertiary) !important;
  --background-modifier-selected: #{lighten($light, 5%)} !important;
  --background-message-hover: var(--background-primary-alt) !important;
  --channeltextarea-background: var(--background-secondary) !important;
  --deprecated-text-input-bg: var(--background-secondary) !important;
  --deprecated-quickswitcher-input-background: var(--background-modifier-selected) !important;
  --deprecated-card-bg: var(--background-tertiary) !important;
  --deprecated-card-editable-bg: var(--background-secondary) !important;
  --deprecated-store-bg: var(--background-primary) !important;
  --text-normal: #{$gray} !important;
  --text-bright: #{$white} !important;
  --text-inverted: #{$black} !important;
  --text-link: var(--accent-primary) !important;

  [class|='resultsGroup'] [class|='option'] {
    &[class*='selected-'] {
      background-color: var(--background-tertiary) !important;

      [class|='filter'],
      [class|='displayedNick'],
      strong { color: var(--text-bright) !important; }

      [class|='answer'],
      [class|='displayUsername'],
      [class|='searchResultChannelCategory'] { color: var(--text-normal) !important; }
    }

    &::after { background: none !important; }
  }

  [class|='queryContainer'][class*='focused-'] {
    background-color: var(--background-tertiary) !important;
  }

  // 'Active now' in friends list
  [class|='popout'] {
    background-color: var(--background-secondary) !important;

    [class*='enabled-'][role='button']:hover,
    [class*='memberListItem-']:not([class*='popoutDisabled-']):hover {
      background-color: var(--background-tertiary) !important;
    }
  }

  // Other popouts? Not sure why the name is different
  // (currently known example: date picker)
  [class|='layerContainer'] > [class|='layer'] > [class|='container'] {
    background-color: var(--background-secondary) !important;
  }

  // Cards with hover and dismiss styling (ex. game activity settings)
  [class*='card-'] {
    &::before {
      background-color: var(--background-secondary) !important;
      border-color: var(--background-tertiary) !important;
    }

    [aria-label='Remove'] {
      background-color: var(--background-secondary) !important;
    }
  }

  // Login page
  [class*='authBox-'] {
    background-color: var(--background-primary) !important;
  }

  [class|='focusLock'] > [class|='modal'] {
    background-color: var(--background-primary) !important;
  }

  // Server boost page
  [class*='perksModal-'] {
    background-color: var(--background-primary) !important;

    [class|='ctaBar'],
    [class|='perks'] [class|='perk'] {
      background-color: var(--background-secondary) !important;
    }

    [class|='tierMarkerBackground'] {
      background-color: var(--background-primary) !important;
    }

    [class|='progressBar'] [class|='barBackground'],
    [class|='tierMarkerInProgress'] {
      background: var(--background-tertiary) !important;
    }
  }

  [class|='content'] > [class|='sidebar'] {
    // Friends list
    + [class|='container'] {
      background-color: var(--background-primary) !important;

      [class|='peopleColumn'] [class|='scroller'] {
        &::-webkit-scrollbar-track-piece {
          border-color: var(--background-primary) !important;
          background-color: var(--background-primary) !important;
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--background-tertiary) !important;
        }
      }
    }

    // Sidebar scrollbar in Firefox
    [class|='scroller'] + [class|='scrollbar'] {
      background-color: var(--background-secondary) !important;
      > [class|='thumb'] { background-color: var(--background-tertiary) !important; }
      > [class|='pad'] { background-color: var(--background-secondary) !important; }
    }
  }

  // 'Active now' cards
  [class|='itemCard'] {
    border-color: var(--background-tertiary) !important;

    [class|='body'] {
      background-color: var(--background-secondary) !important;
    }

    &:hover,
    &[class*=' active-'] {
      background-color: var(--background-tertiary) !important;
    }
  }

  // Server join modal
  [class|='main'][class*='root-'] {
    background-color: var(--background-primary) !important;
  }

  [class|='chat'] {
    // Make trackbar transparent and thumb more visible
    // NOTE: Combined styling for Chrome + Firefox
    [class*='messages-'] {
      + [class|='scrollbar'],
      + [class|='scrollbar'] > [class|='pad'] {
        background-color: var(--background-primary) !important;
      }

      + [class|='scrollbar'] > [class|='thumb'],
      &::-webkit-scrollbar-thumb {
        background-color: var(--background-tertiary) !important;
        border-color: var(--background-primary) !important;
      }

      + [class|='scrollbar'] > [class|='track'],
      &::-webkit-scrollbar-track-piece {
        background-color: var(--background-primary) !important;
        border-color: var(--background-primary) !important;
      }
    }
  }

  // Code blocks
  [class*='markup-'] code {
    --background-tertiary: #{$dark-gray} !important;
    background-color: var(--background-tertiary) !important;

    &::-webkit-scrollbar-track-piece {
      background-color: var(--background-tertiary) !important;
    }
  }

  // Syntax highlighting
  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-class .hljs-title,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable { color: $red !important; }

  .hljs-bullet,
  .hljs-link,
  .hljs-meta,
  .hljs-meta .hljs-keyword,
  .hljs-number,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-subst,
  .hljs-symbol { color: $orange !important; }

  .hljs-built_in,
  .hljs-deletion { color: $yellow !important; }

  .hljs-doctag,
  .hljs-meta .hljs-meta-string,
  .hljs-regexp,
  .hljs-string { color: $green !important; }

  .hljs-name,
  .hljs-section,
  .hljs-selector-class,
  .hljs-selector-id,
  .hljs-title { color: $blue !important; }

  .hljs-addition,
  .hljs-keyword,
  .hljs-selector-tag { color: $purple !important; }

  // Attachments
  [class|='attachment'] {
    background-color: var(--background-secondary) !important;
    border-color: var(--background-tertiary) !important;
  }

  // Mention autocomplete
  [class|='autocomplete'] {
    background-color: var(--background-secondary) !important;

    [class*='selected-'] {
      background-color: var(--background-primary) !important;
    }
  }

  [class|='emojiPicker'] [class|='scroller']::-webkit-scrollbar-track-piece {
    background-color: var(--background-secondary) !important;
  }

  [class|='uploadModal'] {
    background-color: var(--background-primary) !important;
    [class|='footer'] { background-color: var(--background-tertiary) !important; }
  }

  // Search tags (from: user, has: item, etc)
  [class|='searchFilter'],
  [class|='searchAnswer'] {
    background-color: var(--background-primary) !important;
  }

  // Date picker in search
  .react-datepicker {
    background-color: var(--background-secondary) !important;
    &__header { background-color: var(--background-secondary) !important; }

    &__day--disabled,
    &__day--outside-month {
      background-color: var(--background-primary) !important;
      pointer-events: none !important;
    }
  }

  // User profile headers
  [class|='headerNormal'] { background-color: var(--background-tertiary) !important; }
  [class|='headerStreaming'] { background-color: #593695 !important; }

  // User profile
  [class|='userPopout'] [class|='body'],
  [class|='userPopout'] [class|='footer'] {
    background-color: var(--background-secondary) !important;
  }

  // Message box in user profile
  [class|='quickMessage'] {
    background-color: var(--background-tertiary) !important;
    border-color: var(--background-tertiary) !important;
  }

  // Discord 'redeem keys' moved notice in Billing
  [class|='codeRedemptionRedirect'] {
    background-color: var(--background-secondary) !important;
    border-color: var(--background-tertiary) !important;
  }

  // Game activity settings
  [class*='gameNameInput-'] {
    &:focus,
    &:hover { background-color: var(--background-primary) !important; }
  }
}

// Override all default font set selectors
::placeholder,
body,
button,
input,
select,
textarea { font-family: Helvetica !important; }

// Make placeholder text readable
::placeholder { color: var(--text-normal) !important; }

// Inline blurple text
[style^='color: rgb(114, 137, 218);'] {
  color: var(--accent-primary) !important;
}

// Inline blurple backgrounds
[style*='background-color: rgb(114, 137, 218);'] {
  background-color: var(--accent-primary) !important;
}

// Inline transparent blurple backgrounds
[style*='background-color: rgba(114, 137, 218, 0.1);'] {
  background-color: rgba(var(--accent-primary-rgb), 0.1) !important;
}

// Inline transparent blurple borders
[style*='border-color: rgba(114, 137, 218, 0.6);'] {
  border-color: rgba(var(--accent-primary-rgb), 0.6) !important;
}

// Radio selectors
[class|='radioGroup'] > [class*='card-'][style*='background-color: rgb(114, 137, 218);'] {
  border-color: var(--accent-primary) !important;

  [class|='checkbox'] { border-color: var(--accent-primary) !important; }

  svg[name='Checkmark'] polyline { stroke: var(--accent-primary) !important; }
}

// Sliders
[class|='barFill']:not([style*='background']) {
  background-color: var(--accent-primary) !important;
}

// Progress bars
[class|='mediaBarProgress'] {
  background-color: var(--accent-primary) !important;
  &::before,
  &::after { background-color: var(--accent-primary) !important; }
}

[class|='mediaBarGrabber'] {
  background-color: var(--accent-primary) !important;
}

// Checkboxes
[class|='checkbox'] [class|='checkboxElement']:checked + span {
  background-color: var(--accent-primary) !important;
  border-color: var(--accent-primary) !important;
}

// Toggles
[class*='switch-'][class*='valueChecked-'] {
  background-color: var(--accent-primary) !important;
}

[class*='colorBrand-'] {
  // Badly styled links
  &[class*='lookLink-'] { color: var(--text-link) !important; }

  &[class*='lookInverted-'] { color: var(--accent-primary) !important; }

  // Outlined buttons
  &[class*='lookOutlined-'] {
    color: var(--accent-primary) !important;
    border-color: rgba(var(--accent-primary-rgb), 0.3) !important;
    &:hover { border-color: var(--accent-primary) !important; }
  }

  // Solid buttons
  &[class*='lookFilled-'] {
    color: var(--text-bright) !important;
    background-color: var(--accent-primary) !important;
    &:hover { background-color: var(--accent-secondary) !important; }
  }
}

// Other buttons
[class*='lookFilled-'] {
  &[class|='colorWhite'] [class|='contents'] {
    color: var(--accent-primary) !important;
  }

  &[class*='actionRed-'] {
    color: var(--text-inverted) !important;
    background-color: $red !important;
    &:hover { background-color: darken($red, 5%) !important; }
  }

  &[class*='colorGreen-'] {
    color: var(--text-inverted) !important;
    background-color: $green !important;
  }

  &[class|='selectClosed']:focus,
  &[class|='selectOpen'] {
    border-color: var(--accent-primary) !important;
  }
}

// Blurple notices
[class|='noticeBrand'] {
  background-color: var(--accent-primary) !important;
  [class|='anchor']:hover { color: var(--accent-primary) !important; }
}

// Colored menu items
[class|='item'][class*='focused-'] { background-color: var(--accent-primary) !important; }

// Hover text
div:not([class|='nicknames']) > [class|='tooltip'] {
  background-color: var(--accent-primary) !important;
  color: var(--text-bright) !important;
  [class|='tooltipPointer'] { border-top-color: var(--accent-primary) !important; }
  [class|='activityIcon'] { color: var(--text-bright) !important; }
  [class|='colorMuted'] { color: var(--text-normal) !important; }
}

// Text markup tools
[class|='layerContainer'] [class|='toolbar'] {
  background-color: var(--accent-primary) !important;
  &::before { border-top-color: var(--accent-primary) !important; }

  > [class|='button'] {
    [class|='icon'] { color: var(--text-normal) !important; }
    &:hover [class|='icon'] { color: var(--text-bright) !important; }
  }
}

// Text box borders
[class*='input-']:not([class*='inputError-']):focus,
[class*='input-'][class*='focused-']:not([class*='inputError-']) {
  border-color: var(--accent-primary) !important;
}

// Tips (such as date range shortcuts like 'today' in search)
[class|='hintValue'] {
  background-color: var(--accent-primary) !important;
}

// Home icon and servers with no icon
[class|='pill'] + [class|='listItemWrapper'] [class|='wrapper'] [class|='wrapper'],
[class|='pill'] + [class|='blobContainer'] {
  // All on hover
  &:hover [class|='childWrapper'],
  // Home icon selected
  &[class*='selected-'] [class|='childWrapper'],
  // Server icon selected
  [class|='wrapper'][class*='selected-'] [class|='childWrapper'] {
    background-color: var(--accent-primary) !important;
  }
}

// Mention or friend request badge
[class*='numberBadge-'],
[class|='iconBadge'] { background-color: var(--accent-notification) !important; }

// Mention number in the quickswitcher
[class|='quickswitcher'] [class*='badge-'] {
  background-color: var(--accent-notification) !important;
}

// Collapsed folders with unset color
[class|='folderIconWrapper'][style="background-color: rgba(114, 137, 218, 0.4);"] {
  background-color: rgba(var(--accent-primary-rgb), 0.4) !important;
}

// Server with mentions out of sight in list
[class*='unreadMentionsBar-'] {
  background-color: var(--accent-notification) !important;
}

// 'Server Boosting' tooltip
[class|='subscribeTooltipWrapper'] {
  background-color: var(--accent-primary) !important;
  &::after { border-bottom-color: var(--accent-primary) !important; }
}

// Number of boosts up/down buttons
[class|='planSelectorWrapper'] {
  --interactive-normal: var(--text-bright) !important;
  --interactive-muted: var(--text-normal) !important;

  [class|='iconWrapper'] {
    background-color: var(--background-accent) !important;
  }
}

// Server boost levels
[class|='tierUnlocked'] { color: var(--accent-primary) !important; }

// Verified server badge
[class|='flowerStarContainer'][class*='verified-'],
[class|='flowerStarContainer'][class*='partnered-'],
[class|='flowerStarContainer'][class*='iconBackgroundTier'] [class*='iconTier'] {
  color: var(--accent-primary) !important;
}

[class|='tooltip'] {
  [class|='flowerStarContainer'][class*='verified-'],
  [class|='flowerStarContainer'][class*='partnered-'],
  [class|='flowerStarContainer'][class*='iconBackgroundTier'] [class*='iconTier'] {
    color: var(--text-bright) !important;
    [class|='icon'] { color: var(--accent-primary) !important; }
  }
}

// Okay, I know this looks bad but hear me out.
// I wanted a way to make it so that the nitro boost icon would work correctly
//   with or without server banners, and this was the best way
//   I could figure out to do it.
// Basically, when the server banner is visible the background will be
//   set to white by Discord and the main color to the primary accent above.
// When the server banner is hidden by scrolling down, or if the server
//   doesn't have one, instead this section sets the main color to white.
// The transition when scrolling the banner is a bit odd, but it works.
[class|='container']:not([class*='bannerVisible-'])
> header > [class|='guildIconContainer']
[class|='flowerStarContainer'][class*='iconBackgroundTier'] [class*='iconTier'] {
  color: var(--text-bright) !important;
}

// Verified user connection badge
[class|='flowerStarContainer'][class*='connectedAccountVerifiedIcon-'] > svg > path {
  fill: var(--background-accent) !important;
}

// Muted channel icon
[name='Nova_BellOff'] [class|='strikethrough'] {
  color: var(--accent-notification) !important;
}

// Muted mic / audio buttons
[class|='content'] > [class|='sidebar'] [class|='button'] [class|='strikethrough'] {
  color: var(--accent-notification) !important;
}

// Date picker in search
.react-datepicker__day {
  &:hover { background-color: var(--accent-primary) !important; }
  &--selected::after { background-color: var(--accent-primary) !important; }
}

// TODO: Check which one of these they decide on later
// User profile header
[class|='headerPlaying'],
[class|='topSectionPlaying'] { background-color: var(--accent-primary) !important; }

[class|='icon'] {
  &[class*='exclamation-'] { @import 'svgs/discord-exclamation'; }
  &[class*='share-'] { @import 'svgs/discord-share'; }
  &[class*='mobile-'] { @import 'svgs/discord-mobile'; }
  &[class*='twitter-'] { @import 'svgs/discord-twitter'; }
}

// Load more messages bar
[class|='hasMore'] {
  color: var(--accent-primary) !important;
}

// Loading spinners
[class|='wanderingCubesItem'] {
  background-color: var(--accent-primary) !important;
}
[class|='spinner'] circle:not(:first-child) {
  stroke: var(--accent-primary) !important;
}

// New messages divider
[class|='divider'][class*='isUnread-'] {
  border-color: var(--accent-notification) !important;

  [class|='content'] { color: var(--accent-notification) !important; }

  [class|='unreadPill'] { background-color: var(--accent-notification) !important; }

  [class|='unreadPillCapStroke'] {
    color: var(--accent-notification) !important;
    fill: var(--accent-notification) !important;
  }
}

// This is the bar at top of chat
[class|='newMessagesBar'] {
  background-color: var(--accent-primary) !important;
  &:hover { background-color: var(--accent-secondary) !important; }
}

// This is the bar at bottom of chat
[class|='jumpToPresentBar'] {
  background-color: var(--background-accent) !important;
  &:hover { background-color: var(--background-accent-secondary) !important; }
}

// This is the bar in the channels list when it's scrollable
//   and the channel with mentions is out of sight
[class*='unreadBar-'] {
  background-color: var(--accent-notification) !important;
}

// Bot label in chat and sidebar
[class*='botTag-'] {
  background-color: var(--background-accent) !important;
}

// Cancel/save editing message
[class^='channelTextArea'] + [class|='operations'] a {
  color: var(--text-link) !important;
}

// Cozy mode has a border on the left side of highlighted messages
[class*='mentioned-']::before {
  background-color: var(--background-mentioned-bright) !important;
}

// Make standalone emojis large even in compact mode
.emoji.jumboable {
  height: 3rem !important;
  width: 3rem !important;
}

[class|='item'] {
  &[class*='invite-'] {
    color: var(--accent-primary) !important;
    &:hover { color: var(--accent-secondary) !important; }
  }

  [name='EyeHidden'] rect {
    fill: var(--accent-primary) !important;
  }
}

[class*='reactionMe-'] {
  background-color: rgba(var(--accent-primary-rgb), 0.3) !important;
  [class|='reactionCount'] { color: var(--accent-primary) !important; }
}

// This fixes some letter bottoms being cut off in usernames
[class|='avatar'] + [class|='content'] [class|='name'] {
  line-height: 25px !important;
}

[class|='emojiPicker'] [class|='categories'] [class*='selected-'] {
  border-bottom-color: var(--accent-primary) !important;
}

// Nitro settings page
[class|='yearlyButtonDiscount'] {
  border-color: var(--text-inverted) !important;
}
[class*='iconIncluded-'] {
  color: var(--accent-primary) !important;
}

// Put home categories on one line with tooltips
// The :not() selector prevents the css from taking effect
//   when there is only one category present
[class|='privateChannels'] [class*='channel-']:not([style^='height: 42px']):nth-child(-n+4) {
  width: 29% !important;
  display: inline-block !important;
  position: relative !important;

  &:hover [class|='name'] { display: block !important; }

  [class|='name'] {
    all: unset !important;
    background-color: var(--accent-primary) !important;
    border-radius: 5px !important;
    color: var(--text-bright) !important;
    display: none !important;
    font-size: 14px !important;
    line-height: 16px !important;
    padding: 8px 12px !important;
    position: absolute !important;
    left: 50% !important;
    top: 100% !important;
    transform: translateX(-50%) !important;
    z-index: 1 !important;

    &::after {
      border: 5px solid transparent !important;
      border-bottom-color: var(--accent-primary) !important;
      bottom: 100% !important;
      content: ' ' !important;
      left: 50% !important;
      margin-left: -5px !important;
      position: absolute !important;
    }
  }

  [class|='avatar'] {
    margin-right: 0 !important;
    margin-left: 8px !important;
  }

  [class|='numberBadge'] {
    position: absolute !important;
    top: 8px !important;
    left: 38px !important;
  }
}

// Code blocks
// NOTE: "monospace Bold" does not work in Firefox for some weird reason.
//   For now, falling back to unmodified monospace works even if it doesn't
//   look quite as good.
[class*='markup-'] code,
[class*='codeLine-'] {
  font-family: "monospace Bold", monospace !important;
  font-size: 13px !important;
}

// Old mentions style
.mention {
  &:not([style^='color:']) {
    color: var(--accent-primary) !important;
    &:not([class*='wrapperNoHover-']):hover {
      filter: brightness(0.9) !important;
    }
  }

  &:not([style*='background-color:']) {
    background-color: rgba(var(--accent-primary-rgb), .15) !important;

    &:not([class*='wrapperNoHover-']):hover {
      filter: brightness(0.9) !important;
    }
  }
}

// Old reaction style
[class|='reaction'] {
  border-radius: .3rem !important;
  border: none !important;

  &:not([class*='reactionMe-']) {
    background: var(--background-modifier-selected) !important;
    [class|='reactionCount'] { filter: brightness(0.6) !important; }
    &:hover { filter: brightness(1.15) !important; }
  }

  &[class*='reactionMe'] [class|='reactionCount'] {
    color: var(--accent-primary) !important;
  }
}
