@import '../variables';

body {
  background-color: $light !important;
  color: $gray !important;
}

a { color: $highlight !important; }

.text--primary { color: $white !important; }
.notification__text { background: $dark !important; }

.badge-link {
  background-color: $dark !important;
  &--top { background-color: $medium !important; }
  &__title { color: $white !important; }
  &__bullets { color: $gray !important; }
  p { color: $gray !important; }
}

.header {
  &-wrap { background-color: $medium !important; }

  &__logo {
    background-image: url('https://duckduckgo.com/assets/logo_header_alt.v103.lg.svg') !important;
  }

  &__button--menu {
    color: $gray !important;
    &:hover { background-color: $medium !important; }
  }

  &--aside__msg::after { border-color: $dark !important; }
}

.zcm {
  &__link.is-active { border-color: $dark !important; }
  &__sep--h::before { border-color: $dark !important; }
}

.nav-menu {
  &--slideout { background-color: $medium !important; }
  &__close:hover { color: $white !important; }
  &__heading { color: $gray !important; }
}

.logo_homepage {
  background-image: url('https://duckduckgo.com/assets/logo_homepage.alt.v106.svg') !important;
}

.search {
  &--home,
  &--header {
    background: $dark !important;
    border-color: $dark !important;
    &.has-text.search--focus .search__button { background-color: $highlight !important; }
  }

  &--hover .search__button {
    background-color: $highlight !important;
    color: $white !important;
  }

  &__input--adv { color: $gray !important; }
  &__clear:hover { color: $white !important; }
  &__button:hover { background-color: $highlight !important; }
  &__autocomplete { border-color: $dark !important; }
}

.acp-wrap {
  background-color: $dark !important;

  .acp {
    color: $gray !important;
    strong { color: $white !important; }
    &--highlight { background-color: $medium !important; }
  }
}

.tag-home { color: $gray !important; }
.onboarding-ed__arrow-teaser__arrow-wrapper { background: $dark !important; }

.zci {
  background-color: $dark !important;
  border-color: $dark !important;
  color: $gray !important;
  &__body h3 { color: $gray !important; }

  &__aux .tile {
    background-color: $medium !important;
    border-color: $medium !important;

    .info {
      border-color: $dark !important;
      &:first-of-type { border-color: transparent !important; }
    }

    &__expand {
      background-color: $medium !important;
      border-color: $dark !important;
      &:hover::before { color: $white !important; }
    }
  }
}

#web_content_wrapper { background-color: $light !important; }

.metabar--fixed { background-color: $dark !important; }
.metabar__primary-text { color: $gray !important; }

.metabar__dropdowns-wrap,
.search-filters-wrap {
  &::before,
  &::after { background-image: none !important; }
}

.metabar__grid-btn {
  background-color: $light !important;
  border-color: $light !important;
}

.msg {
  &__line,
  &__text { color: $gray !important; }

  &__site { color: $white !important; }
}

.modal {
  &__box {
    background-color: $medium !important;
    color: $gray !important;
  }

  &__header {
    border-color: $dark !important;

    .frm__input {
      background-color: $dark !important;
      color: $gray !important;
    }
  }

  &__list__link.is-highlighted,
  &__list__link:hover { background-color: $dark !important; }

  &--popover-dk.is-showing { background-color: $dark-transparent !important; }
}

.add-to-browser__directions > li::before { background-color: $silver !important; }

.result {
  &.highlight { background-color: $medium !important; }

  &__snippet {
    color: $gray !important;
    b { color: $white !important; }
  }

  &__check { display: block !important; }

  &__pagenum { color: $gray !important; }

  &--sep::before { background-color: $dark !important; }
}

.module {
  background: $medium !important;
  border-color: $dark !important;
  box-shadow: none !important;

  &__text { color: $gray !important; }
  &__header { color: $gray !important; }

  &--news {
    &__title { color: $gray !important; }
    &__item { border-color: $dark !important; }

    &__left,
    &__right {
      background-color: $dark !important;
      border-color: $dark !important;
    }
  }

  .about-info-box {
    &__info-label { color: $white !important; }
    &__info-value { color: $gray !important; }
  }
}

.feedback-btn { background-color: $medium !important; }
