@import '../variables';

::placeholder { color: $gray !important; }

// popup tips
._21es { background: $highlight !important; }

._-6e ._-6h,
._2x6q ._53ik ._53io { border-top-color: $highlight !important; }

// header
._2s1x ._2s1y {
  background-color: $dark !important;
  border-color: $dark !important;
}

// search bar
._585- {
  background-color: $medium !important;
  border-color: $dark !important;

  // search button
  ._4w98 {
    background: $light !important;

    &._4w97 {
      background: $highlight !important;
      &:hover { background: $highlight-dark !important; }
    }

    // search icon
    ._585_ { filter: brightness(175%) !important; }
  }
}

// search text
._5861 ._586f,
._5861 ._586i,
._5861 ._1frb { color: $gray !important; }

// page background
._5vb_,
._5vb_ #contentCol {
  background: $medium !important;
  color: $gray !important;
}

// group sidebar
._19s-,
._2fvv { color: $gray !important; }

// sidebar selected tab
._3o_h,
._2yaa ._2yau {
  &::after {
    background-color: $light !important;
    border-color: $dark !important;
  }
}

// sidebar search bar
._3_gi .uiSearchInput::after,
._3_gi .uiTypeahead::after,
._3_gi ._58ak::after { background-color: $dark !important; }
._3_gi .uiSearchInput input { color: $gray !important; }

._2yap ._2yav { color: $white !important; }

// header picture
._36nj::before { border-color: $dark !important; }

// posts
._2yq ._4-u2::before { border-color: $dark !important; }
._4-u8 { background-color: $light !important; }

// post buttons
._517h {
  background-color: $medium !important;
  border-color: $dark !important;
  color: $gray !important;

  &:hover {
    background-color: $dark !important;
    color: $white !important;
  }
}

._4jy0:focus {
  border-color: $highlight !important;
  box-shadow: none !important;
}

// status header
._4d6h { border-color: $dark !important; }

._4-h8,
._4-h8::after { border-bottom-color: $dark !important; }

// new post dropdowns
._53ij {
  background: $medium !important;
  a { color: $highlight !important; }
}

// new post shortcuts
._5qtn ._5qtp { color: $gray !important; }

._1tm3 {
  border-color: $dark !important;
  a { color: $highlight !important; }

  ._4-h7:hover,
  ._2mo4:hover { background-color: $dark !important; }
}

._44b1:hover,
._44b6:hover { background-color: $dark !important; }

// emoji selector
._2znk { background: $medium !important; }

._1og- {
  background-color: $dark !important;
  border-color: $dark !important;
}

._1ogz ._1e8n { filter: hue-rotate(-25deg) !important; }

// post background selector
._4vc1 {
  background-color: $dark !important;
  box-shadow: none !important;
}

._4ydl { box-shadow: none !important; }

// post background dropdown
._ryt { border-color: $dark !important; }
._1u45 { box-shadow: none !important; }

// new post categories
._16ve { border-color: $dark !important; }

._m_1 {
  background: $dark !important;
  ._2aha { color: $gray !important; }
}

// new post footer
._2dck {
  background-color: $dark !important;
  border-color: $dark !important;
}

// post submission button
._4jy1 {
  background-color: $highlight !important;
  border-color: $dark !important;

  &._42fr {
    background-color: mix($highlight, $dark-gray, 50%) !important;
    border-color: $dark !important;
  }
}
