@import '../variables';

body { background-color: $medium !important; }

mark { color: $white !important; }

pre a { color: $highlight !important; }

// keyboard hints
kbd {
  background-color: $dark !important;
  border-color: $dark !important;
  box-shadow: none !important;
  color: $gray !important;
}

.bg-gray { background-color: $light !important; }
.bg-gray-light { background-color: $dark !important; }

.border { border-color: $light !important; }
.border-gray-light { border-color: $dark !important; }
.border-gray-dark { border-color: $dark !important; }

.text-gray,
.text-gray-light,
.text-gray-dark { color: $gray !important; }

.text-emphasized { color: $white !important; }

.muted-link,
.link-gray,
.link-gray-dark {
  color: $gray !important;
  &:hover { color: $highlight !important; }
}

.btn {
  background: $dark !important;
  box-shadow: none !important;
  color: $gray !important;
}

.btn-primary {
  background: $highlight !important;
  border-color: $highlight !important;
  color: $white !important;

  &:hover {
    background: $highlight-dark !important;
    border-color: $highlight-dark !important;
  }
}

.btn-link { color: $highlight !important; }

.signup-prompt-bg { background: $dark !important; }
.signup-prompt { background-color: $dark !important; }

// github classroom
.site-header { background-color: $dark !important; }

.organization-banner { background: $light !important; }

.site-content-cap {
  background-color: $dark !important;
  border-color: $dark !important;
}

.site-content-heading { color: $gray !important; }

.assignment-icon-individual {
  background-color: $light !important;
  color: $gray !important;
}

.site-content-body {
  background-color: $light !important;
  border-color: $light !important;
}

.form-actions { border-color: $dark !important; }

.progress-bar { background-color: $dark !important; }

// TODO: confirm this is working on repo creation indicator page
.mb-0 { color: $gray !important; }

// new user homepage banner
.intro-shelf {
  background-color: $light !important;
  background-image: none !important;
  color: $gray !important;
  .shelf-lead { color: $gray !important; }
}

.shelf-dismiss .close-button {
  background: $dark !important;
  color: $gray !important;
}

.flash {
  background-color: $light !important;
  border-color: $dark !important;
  color: $gray !important;
  a { color: $highlight !important; }
  .btn-primary { color: $gray !important; }
}

.svg-tip {
  background: $highlight !important;
  color: $white !important;
  &::after { border-top-color: $highlight !important; }
}

.tooltipped::after { background-color: $highlight !important; }

.tooltipped-n,
.tooltipped-ne,
.tooltipped-nw {
  &::before { border-top-color: $highlight !important; }
}

.tooltipped-s,
.tooltipped-se,
.tooltipped-sw {
  &::before { border-bottom-color: $highlight !important; }
}

.tooltipped-w::before { border-left-color: $highlight !important; }

.Popover {
  .btn {
    background: $medium !important;

    &.selected,
    &:hover { background: $dark !important; }
  }

  .btn-primary {
    background: $highlight !important;
    &:hover { background: $highlight-dark !important; }
  }
}

// .Popover-message::after { border-bottom-color: $light !important; }

.Popover-message--bottom::after,
.Popover-message--bottom-right::after,
.Popover-message--bottom-left::after { border-top-color: $light !important; }

.Counter { color: $gray !important; }

.tabnav-tab {
  color: $gray !important;
  .Counter { background-color: $dark !important; }

  &.selected {
    background-color: $medium !important;
    border-color: $dark !important;
  }
}

.blankslate {
  background-color: $light !important;
  border-color: $dark !important;
  color: $gray !important;
}

// 404 page
#search {
  label { color: $white !important; }

  input {
    background-color: $dark !important;
    border-color: $dark !important;
    box-shadow: none !important;
    color: $gray !important;
    &:focus { border-color: $highlight !important; }
  }
}

#suggestions a { color: $highlight !important; }

// account recovery settings confirmation
.session-authentication {
  color: $gray !important;
  .header-logo { color: $gray !important; }

  .create-account-callout {
    background-color: $light !important;
    border-color: $dark !important;
    a { color: $highlight !important; }
  }
}

// login
.auth-form-body {
  background-color: $light !important;
  border-color: $dark !important;
  a { color: $highlight !important; }
}

// 2fa
.two-factor-help {
  hr { border-color: $dark !important; }
  a { color: $highlight !important; }
}

// homepage repo search
.form-control {
  background-color: $dark !important;
  border-color: $dark !important;
  box-shadow: none !important;
  color: $gray !important;
  &::placeholder { color: $gray !important; }
  &:focus { border-color: $highlight !important; }
}

.dashboard-sidebar a { color: $highlight !important; }

// homepage activity
.news {
  h3,
  p { color: $gray !important; }

  a { color: $highlight !important; }
}

.repository-content {
  color: $gray !important;
  span a { color: $highlight !important; }
  hr { border-color: $dark !important; }
  > .border { border-color: $dark !important; }

  .bg-gray {
    background-color: $dark !important;
    border-color: $dark !important;
  }

  .mx-auto a:not(.btn-primary):not(.d-inline-block) { color: $highlight !important; }
}

.repository-meta-content a { color: $highlight !important; }

.AvatarStack-body {
  background-color: transparent !important;
  .avatar { background-color: transparent !important; }
}

.Box {
  background-color: $light !important;
  border-color: $light !important;
  box-shadow: none !important;
  hr { border-color: $dark !important; }
  // &::after { border-top-color: $light !important; }
}

.Box-header {
  background-color: $dark !important;
  border-color: $dark !important;
  color: $gray !important;
}

.Box-body { border-color: $dark !important; }

.Box-row {
  background-color: $light !important;
  border-color: $dark !important;

  .muted-link:hover { color: $highlight !important; }

  .avatar { border-color: $medium !important; }

  &--focus-gray.navigation-focus { background-color: $medium !important; }
}

.subnav-item {
  background-color: $dark !important;
  border-color: $dark !important;
  color: $gray !important;
}

.subnav-search-context .btn {
  background: $dark !important;
  color: $gray !important;
  &:focus { box-shadow: none !important; }
}

.subnav-search-input {
  background-color: $medium-dark !important;
  border-color: $medium-dark !important;
  color: $gray !important;

  &:focus {
    border-color: $highlight !important;
    box-shadow: none !important;
  }
}

.boxed-group > h3 {
  background-color: $dark !important;
  color: $gray !important;
}

.breadcrumb {
  color: $gray !important;
  a { color: $highlight !important; }
  .final-path { color: $gray !important; }
}

.markdown-body {
  background-color: $light !important;
  border-color: $light !important;
  color: $gray !important;
  .octicon-link { color: $gray !important; }
  hr { background-color: $dark !important; }
  img { background-color: $light !important; }
  a { color: $highlight !important; }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 { border-color: $dark !important; }

  .highlight-pre,
  pre,
  code { background-color: $dark-gray !important; }

  blockquote {
    border-color: $dark !important;
    color: $gray !important;
  }

  table tr,
  .js-line-number,
  .js-file-line { background-color: $dark-gray !important; }

  table th,
  table td { border-color: $light !important; }
}

.pl-smi,
.pl-s .pl-s1 { color: $gray !important; }

.pl-k { color: $red !important; }

.pl-pds,
.pl-s,
.pl-s .pl-pse,
.pl-s1,
.ps-sr,
.pl-sr .pl-cce,
.pl-sr .pl-sre,
.pl-sr .pl-sra { color: $green !important; }

.pl-mh,
.pl-mh .pl-en,
.pl-ms { color: $highlight !important; }

.pl-c1,
.pl-s .pl-v { color: $blue !important; }

.pl-e,
.pl-en { color: $purple !important; }

.select-menu-modal {
  background-color: $dark !important;
  border-color: $dark !important;
}

.select-menu-header {
  background-color: $dark !important;
  border-color: $dark !important;

  svg,
  span { color: $gray !important; }

  svg:hover { color: $white !important; }
}

.dropdown-menu {
  background-color: $light !important;
  .border-bottom { border-bottom-color: $dark !important; }
}

.dropdown-menu-ne::before,
.dropdown-menu-ne::after { border-top-color: $light !important; }

.dropdown-menu-se::before,
.dropdown-menu-se::after { border-bottom-color: $light !important; }

.dropdown-menu-sw::before,
.dropdown-menu-sw::after { border-bottom-color: $light !important; }

.dropdown-item {
  color: $gray !important;

  &:hover {
    background-color: $highlight !important;
    color: $white !important;
  }
}

.dropdown-divider { background-color: $medium !important; }
.dropdown-header { color: $white !important; }

.select-menu-filters { background-color: $dark !important; }

.select-menu-text-filter input {
  background-color: $medium !important;
  border-color: $medium !important;
  color: $gray !important;

  &::placeholder { color: $gray !important; }

  &:focus {
    border-color: $highlight !important;
    box-shadow: none !important;
  }
}

.select-menu-tabs {
  border-color: $medium !important;
  a:hover { color: $white !important; }
}

.select-menu-tab .selected {
  background-color: $medium !important;
  border-color: $medium !important;
  color: $gray !important;
}

.select-menu-item {
  background-color: $medium !important;
  border-color: $medium !important;
  color: $gray !important;

  .description { color: $gray !important; }
  .select-menu-item-text { color: $gray !important; }

  &:not(.disabled):hover {
    background-color: $dark !important;

    .select-menu-item-heading,
    .select-menu-item-text { color: $white !important; }
  }
}

.table-list-header {
  background-color: $dark !important;
  border-color: $dark !important;
}

.table-list-header-toggle .btn-link { color: $gray !important; }

.Header {
  background-color: $dark !important;
  .header-search-wrapper { background-color: $light !important; }
}

.Subhead { border-color: $dark !important; }

.header-search-input {
  background-color: $light !important;
  color: $gray !important;
  &::placeholder { color: $gray !important; }
}

.jump-to-suggestions-results-container {
  [aria-selected='true'] .jump-to-suggestions-path,
  .navigation-focus .jump-to-suggestions-path {
    background-color: $highlight !important;
    color: $white !important;
  }

  .navigation-item { border-color: $light !important; }
}

.jump-to-suggestions-path { color: $gray !important; }

.repohead {
  &.experiment-repo-nav {
    background-color: $light !important;
    border-color: $light !important;
  }

  h1 {
    color: $gray !important;
    a { color: $highlight !important; }
  }
}

.pagehead-actions {
  .btn {
    background: $dark !important;
    color: $gray !important;
    &:hover { background: $medium !important; }
  }

  .social-count {
    background-color: $medium !important;
    color: $gray !important;
  }
}

.reponav-item {
  color: $gray !important;

  svg { color: $gray !important; }

  .Counter { background-color: $dark !important; }

  &.selected {
    background-color: $medium !important;
    border-color: $highlight $medium transparent !important;
  }
}

.topic-tag {
  background-color: $dark !important;
  color: $highlight !important;
}

.overall-summary {
  background-color: $dark !important;
  border-color: $dark !important;
}

.numbers-summary a {
  color: $gray !important;
  svg { color: $gray !important; }
  span { color: $white !important; }
}

.repository-lang-stats-graph {
  background-color: $light !important;
  border-color: $medium !important;
}

.repository-lang-stats {
  .lang { color: $white !important; }
  .percent { color: $gray !important; }
}

.RecentBranches {
  background-color: $light !important;
  border-color: $dark !important;
  &-item { color: $gray !important; }
  &-item-link { color: $white !important; }
}

.issue-link { color: $highlight !important; }

.hidden-text-expander a,
.ellipsis-expander {
  background-color: $medium !important;
  color: $gray !important;
  &:hover { background-color: $highlight !important; }
}

.file-navigation .btn {
  background: $dark !important;
  color: $gray !important;
  &:hover { background: $medium !important; }
}

.branch-infobar {
  background-color: $light !important;
  border-color: $dark !important;
  color: $gray !important;
}

.commit-tease {
  background-color: $dark !important;
  border-color: $dark !important;
  color: $gray !important;
}

.commit-sha {
  background-color: $dark-gray !important;
  border-color: $dark-gray !important;
}

.commit-tease-contributors {
  background-color: $light !important;
  border-color: $light !important;
}

.commit-desc pre { color: $gray !important; }

.user-mention,
.team-mention,
.commit-tease-sha { color: $white !important; }

.file-wrap { border-color: $dark !important; }

.files {
  background-color: $light !important;

  .icon svg { color: $highlight !important; }

  .js-navigation-item .content a { color: $highlight !important; }

  .up-tree a {
    color: $highlight !important;
    &:hover { background-color: $dark !important; }
  }

  .simplified-path,
  .message,
  time-ago { color: $gray !important; }

  td { border-color: $dark !important; }

  .navigation-focus td { background-color: $medium !important; }
}

.full-commit {
  background: $dark !important;
  .commit-title { color: $white !important; }

  .commit-branches,
  li,
  .sha-block { color: $gray !important; }

  .commit-meta { background: $light !important; }

  .sha {
    color: $white !important;
    &:hover { border-color: $highlight !important; }
  }
}

.diffbar { background-color: $medium !important; }

.file { border-color: $dark !important; }

.file-header {
  background-color: $dark !important;
  border-color: $dark !important;
}

.file-actions {
  .btn { background-color: $light !important; }
  .octicon { fill: $gray !important; }
}

.js-diff-placeholder { fill: $silver !important; }

// split diff portions due to commit comments
.diff-table tr:not(:last-child) .line-comments {
  border-color: $dark !important;
}

.file-diff-split .blob-code + .blob-num { border-color: $light !important; }

.blob-num {
  background-color: $dark-gray !important;
  color: $gray !important;
  &:hover { background-color: lighten($dark-gray, 5%) !important; }
}

.blob-num-deletion,
.blob-num-addition { color: $white !important; }

.blob-num-deletion:not(.empty-cell) {
  background-color: $red !important;
  &:hover { background-color: mix($red, $black, 50%) !important; }
}

.blob-num-addition:not(.empty-cell) {
  background-color: $green !important;
  &:hover { background-color: mix($green, $black, 50%) !important; }
}

.blob-code {
  background-color: $dark-gray !important;
  color: $gray !important;
}

.blob-code-inner { color: $gray !important; }

.blob-code-deletion {
  background-color: mix($red, $black, 50%) !important;
  .x { background-color: mix($red, $black, 30%) !important; }
}

.blob-code-addition {
  background-color: mix($green, $black, 50%) !important;
  .x { background-color: mix($green, $black, 35%) !important; }
}

.blob-code-deletion,
.blob-code-addition {
  .blob-code-inner,
  .blob-code-inner span { color: $gray !important; }
}

.blob-num-expandable .octicon { fill: $gray !important; }

.blob-num-expandable,
.blob-num-expandable + .blob-code { background-color: $light !important; }

.diff-expander:hover { background-color: $highlight !important; }

.add-line-comment {
  background: $highlight !important;
  color: $white !important;
}

tr:not(.blob-expanded) + .blob-expanded,
.blob-expanded + tr:not(.blob-expanded) {
  .blob-num,
  .blob-code { border-color: $light !important; }
}

// commit comment form
.previewable-comment-form {
  background-color: $light !important;
  .border-bottom { border-bottom-color: $dark !important; }

  .comment-form-head.tabnav {
    background-color: $dark !important;
    border-color: $dark !important;
  }

  .tabnav-tab.selected { background-color: $light !important; }

  .upload-enabled.focused { box-shadow: none !important; }

  .form-control { background-color: $medium !important; }

  .drag-and-drop {
    background-color: $dark !important;
    border-color: $dark !important;
  }
}

// expanded content in comments
.email-format .email-hidden-toggle a {
  background: $medium !important;
  color: $gray !important;

  &:hover {
    background: $dark !important;
    color: $white !important;
  }
}

.email-format .email-quoted-reply,
.email-format .email-signature-reply {
  border-color: $dark !important;
  color: $gray !important;
}

// load more comments button
// .ajax-pagination-form .ajax-pagination-btn {
//   background: $dark !important;
//   border-color: $dark !important;
//   color: $gray !important;

//   &:hover {
//     background: $dark !important;
//     color: $white !important;
//   }
// }

.issues-reset-query {
  color: $silver !important;
  .issues-reset-query-icon { background-color: $silver !important; }

  &:hover {
    color: $highlight !important;
    .issues-reset-query-icon { background-color: $highlight !important; }
  }
}

.reaction-sort-item:hover { background-color: $highlight !important; }

.issues-listing {
  .js-notice {
    background-color: $dark !important;
    color: $gray !important;
  }

  p:first-of-type a { color: $highlight !important; }

  .border-left,
  .border-bottom,
  .border-right { border-color: $dark !important; }

  .js-dismiss { color: $highlight !important; }
}

.labels a,
.IssueLabel a {
  &[style*='color: #000000'] { color: $black !important; }
  &[style*='color: #ffffff'] { color: $white !important; }
}

#projects-results {
  background-color: $light !important;

  &:hover {
    background-color: $medium !important;
    .markdown-body { background-color: $medium !important; }
  }
}

.gh-header {
  background-color: $medium !important;
}

.gh-header-actions .btn:not(.btn-primary) {
  background: $dark !important;
  color: $gray !important;
}

.gh-header-title { color: $gray !important; }

.gh-header-meta {
  border-color: $dark !important;
  color: $gray !important;
  .author { color: $white !important; }
}

.gh-header-sticky.is-stuck + .gh-header-shadow {
  background-color: $medium !important;
}

.wiki-wrapper {
  .wiki-auxilary-content-no-bg {
    background-color: $light !important;
    border-color: $light !important;
  }

  .wiki-empty-box {
    background-color: $light !important;
    border-color: $dark !important;
    color: $gray !important;
  }
}

#wiki-body .markdown-body { background-color: $medium !important; }

.wiki-rightbar .mb-2 { color: $gray !important; }

.wiki-pages-box {
  .Box { border-color: $dark !important; }
  ul { background-color: $dark !important; }

  .Box-row {
    background-color: $dark !important;
    a { color: $highlight !important; }
  }

  .filter-bar {
    background-color: $dark !important;

    input {
      background-color: $medium !important;
      border-color: $medium !important;
      color: $gray !important;
      &::placeholder { color: $gray !important; }

      &:focus {
        border-color: $highlight !important;
        box-shadow: none !important;
      }
    }
  }
}

.wiki-page-link { color: $highlight !important; }

#wiki-clone-url {
  background-color: $light !important;
  border-color: $dark !important;
}

.input-group-button {
  .btn { background: $dark !important; }
  svg { color: $gray !important; }
}

.menu {
  background-color: $light !important;
  border-color: $dark !important;
}

.menu-item {
  border-color: $dark !important;
  color: $highlight !important;

  &.selected {
    background-color: $dark !important;
    color: $gray !important;
    &::before { background-color: $highlight !important; }
  }

  &:hover { background-color: $dark !important; }
}

.summary-stats li {
  border-color: $dark !important;
  .num { color: $white !important; }
  a { color: $gray !important; }
  &:hover a { background-color: $medium !important; }
}

.diffstat-summary,
.lines-changed { color: $gray !important; }

.diffstat-summary strong:not(.insertions):not(.deletions) {
  color: $white !important;
}

.pulse-authors-graph text { fill: $gray !important; }

.conversation-list-heading {
  border-color: $dark !important;

  .inner {
    background-color: $dark !important;
    color: $gray !important;
  }
}

.pulse-section { color: $gray !important; }

.simple-conversation-list {
  li { border-color: $dark !important; }
  .num { color: $gray !important; }
  a { color: $highlight !important; }
}

.pagination-loader-container {
  background: $medium !important;
  .Box { background-color: $dark !important; }
  button { background-color: $dark !important; }
  .ajax-pagination-btn { color: $highlight !important; }
}

.pagination {
  .previous_page,
  a,
  .next_page {
    background-color: $dark !important;
    border-color: $dark !important;
    color: $highlight !important;
  }

  .gap {
    background-color: $dark !important;
    border-color: $dark !important;
  }

  .disabled {
    background-color: $dark !important;
    border-color: $dark !important;
    color: $silver !important;
  }

  .current {
    background-color: $highlight !important;
    border-color: $highlight !important;
  }
}

.protip {
  color: $gray !important;
  a { color: $highlight !important; }
}

.timeline-comment-group:target .timeline-comment {
  border-color: $highlight !important;
  box-shadow: none !important;
}

.timeline-comment-wrapper {
  border-color: $medium !important;
  .bg-white { background-color: $medium !important; }
}

.timeline-comment:not([id^='pullrequestreview-']) {
  background-color: $light !important;
  border-color: $dark !important;

  &::before,
  &::after { border-right-color: $dark !important; }
}

.timeline-comment-header {
  background-color: $dark !important;
  border-color: $dark !important;
  color: $gray !important;
}

.timeline-comment-label {
  background-color: $light !important;
  border-color: $light !important;
}

.comment-reactions {
  .reaction-summary-item {
    border-color: $dark !important;
    color: $highlight !important;
  }

  &.has-reactions {
    background-color: $light !important;
    border-color: $dark !important;
    button:hover { background-color: $medium !important; }
  }
}

.review-thread { border-color: $dark !important; }

.review-summary {
  border-color: $dark !important;
  .comment-body { border-color: $dark !important; }
  &::before { border-bottom-color: $dark !important; }
  &::after { border-bottom-color: $light !important; }
}

.review-comment {
  background-color: $light !important;
  border-color: $light !important;
}

.timeline-commits {
  .commit-message > code a { color: $gray !important; }

  .ellipsis-expander {
    background: $dark !important;
    &:hover { background: $highlight !important; }
  }
}

.discussion-timeline::before { background-color: $dark !important; }

.commit-icon .octicon {
  background: $medium !important;
  fill: $dark !important;
}

.discussion-item {
  border-color: $dark !important;
  .author { color: $gray !important; }
}

.discussion-item-icon {
  background-color: $dark !important;
  border-color: $dark !important;
  color: $gray !important;
}

.discussion-item-header { color: $gray !important; }

.discussion-item-ref-title {
  .title-link { color: $gray !important; }

  &:hover .title-link {
    color: $highlight !important;
    span { color: $white !important; }
  }
}

.discussion-item-entity {
  color: $gray !important;
  &:hover { color: $highlight !important; }
}

.blob-wrapper-embedded { background-color: $dark-gray !important; }

.renamed-was,
.renamed-is { color: $white !important; }

.discussion-timeline-actions {
  background-color: $medium !important;
  border-color: $dark !important;
  .timeline-comment { background-color: $light !important; }

  .comment-form-head {
    background-color: $dark !important;
    border-color: $dark !important;
  }

  .tabnav-tab.selected {
    background-color: $light !important;
    border-color: $light !important;
  }

  .toolbar-item {
    .octicon { fill: $gray !important; }
    &:hover .octicon { fill: $highlight !important; }
  }

  .write-content { box-shadow: none !important; }

  .input-contrast {
    background-color: $medium !important;
    border-color: $dark !important;
    color: $gray !important;
    &:focus { border-color: $highlight !important; }
    &::placeholder { color: $gray !important; }
  }
}

.drag-and-drop {
  background-color: $dark !important;
  border-color: $dark !important;
  color: $gray !important;
  .btn-link { color: $highlight !important; }
}

.tabnav-extra { color: $silver !important; }

.discussion-sidebar .border-top { border-color: $dark !important; }

.discussion-sidebar-item {
  border-color: $dark !important;
  color: $gray !important;
}

.discussion-sidebar-heading { color: $white !important; }

.thread-subscription-status {
  background-color: $light !important;
  border-color: $dark !important;
}

.thread-subscribe-form .btn {
  background: $dark !important;
  color: $gray !important;
}

.select-menu-text-filter { border-color: $dark !important; }

.select-menu-divider {
  background-color: $light !important;
  border-color: $light !important;
  color: $gray !important;
}

.suggester,
.suggester li {
  background: $light !important;
  border-color: $dark !important;
}

.suggester .navigation-focus { background: $highlight !important; }

.commit-ref {
  background-color: $dark !important;
  color: $gray !important;
  .user { color: $white !important; }
}

.tabnav-pr { border-color: $dark !important; }

.branch-action-body {
  background-color: $dark !important;
  border-color: $dark !important;

  .status-meta { color: $gray !important; }
  a { color: $highlight !important; }

  &::before,
  &::after { border-right-color: $dark !important; }
}

.branch-action-item {
  + .branch-action-item,
  + .mergeability-details,
  .merge-status-list { border-color: $light !important; }
}

.commit-group-title {
  color: $gray !important;

  .octicon-git-commit {
    background: $medium !important;
    fill: $dark !important;
  }
}

.commits-listing::before { background-color: $dark !important; }

.commit-group {
  background-color: $light !important;
  border-color: $dark !important;
  .table-list-cell { border-color: $dark !important; }
}

.commit {
  .message,
  .commit-meta { color: $gray !important; }

  .btn,
  .signed-commit-badge {
    background: $medium !important;
    border-color: $dark !important;
    &:hover { border-color: $highlight !important; }
  }

  .signed-commit-badge { color: $highlight !important; }

  &.navigation-focus {
    background: $dark !important;

    .ellipsis-expander {
      background: $light !important;
      &:hover { background: $highlight !important; }
    }
  }
}

.closed-banner {
  background-color: $dark !important;
  border-color: $medium !important;
}

.new-discussion-timeline { border-color: $dark !important; }

.pr-toolbar { background-color: $medium !important; }

.graph-filter .info { color: $gray !important; }

.graphs {
  .tint-box { background: $dark !important; }

  .tick {
    line { stroke: $light !important; }
    text { fill: $gray !important; }
  }
}

.contrib-person {
  a { color: $highlight !important; }
  .border-bottom { border-color: $light !important; }
}

.capped-card-content { background: $dark !important; }

.footer li a { color: $highlight !important; }
