@import '../../node_modules/sassdash/index';
@import '../../node_modules/sass-svg/index';
@import '../variables';

body {
  background-color: $light !important;
  color: $gray !important;
}

//---Header---
.sfbgg,
#hdtbSum { background: $medium !important; }

// Header text
#hptl a,
#gb#gb .gb_P { color: $gray !important; }

//---Search bar---
.sbib_a,
.sbibod { background: $dark !important; }

// Search bar text
#lst-ib { color: $gray !important; }

// Search icon
.sbico { color: $highlight !important; }

// Search suggestions
.sbsb_a { background: $dark !important; }
.sbsb_c:hover { background: $medium !important; }
.sbqs_c { color: $gray !important; }
.sbsb_i { color: $highlight !important; }
.sbpqs_a { color: $blue !important; }

// Report button
.sbfl_a a {
  background: $light !important;
  color: $gray !important;
}

// Search buttons
.sbdd_a input,
.jhp input[type='submit'] {
  background: $medium !important;
  border-color: $medium !important;
  color: $gray !important;
  transition: background .5s, border-color .5s;
}

.jhp input[type='submit']:hover {
  background: $dark !important;
  border-color: $dark !important;
}

// Apps icon
.gb_da .gb_b { background-position: -463px -34px !important; }

// Sign in button
.gb_Fa {
  background: $highlight !important;
  border-color: $highlight !important;

  &:hover {
    background: $highlight-dark !important;
    border-color: $highlight-dark !important;
  }
}

//---Tab bar---
#hdtb {
  border-color: $dark !important;
  color: $gray !important;
}

#hdtb-msb {
  // Selected tab
  .hdtb-mitem.hdtb-msel {
    border-color: $highlight !important;
    color: $highlight !important;
  }

  // Other tabs
  .hdtb-mitem a,
  #hdtb-tls { color: $gray !important; }

  // Tools button
  .hdtb-tl:hover,
  .hdtb-tl-sel {
    background: $dark !important;
    border-color: $dark !important;
  }
}

// Settings dropdown
#lb > div { background: $medium !important; }

//---Tools---
.hdtb-mn-hd { color: $gray !important; }

// Dropdown arrow
.mn-dwn-arw { border-color: $gray transparent !important; }

// Dropdown
.hdtb-mn-o {
  background: $medium !important;
  border-color: $dark !important;
}

// Dropdown items
.hdtbItm {
  background: $medium !important;
  a { color: $gray !important; }

  a:hover {
    background: $dark !important;
    color: $white !important;
  }
}

// Selected item
.hdtbSel { color: $white !important; }

// Separator
.cdr_sep { border-color: $dark !important; }

// Custom range item
#cdrlnk {
  color: $gray !important;

  &:hover {
    background: $dark !important;
    color: $white !important;
  }
}

//---Custom Range Picker---
// Background
.cdr_bg { background: $dark-transparent !important; }

// Popup
.cdr_dlg {
  background: $medium !important;
  border-color: $medium !important;

  .goog-date-picker {
    background: $dark !important;
    table thead td { border-color: $medium !important; }
    .ctr_dd { color: $dark-gray !important; }
  }

  .goog-date-picker-date:hover { background-color: $light !important; }
  .goog-date-picker-today { color: $white !important; }
  .goog-date-picker-selected { background-color: $highlight !important; }
}

.ctr_dd { color: $dark-gray !important; }

.cdr_dlg .goog-date-picker-other-month,
#cdr_cal tr:nth_child(2) .goog-date-picker-other-month {
  color: $dark !important;
  pointer-events: none !important;
}

// Labels
.cdr_ttl,
.cdr_mml { color: $gray !important; }

// Close button
.cdr_cls { visibility: hidden !important; }

// Box around input
.cdr_highl { background: $medium !important; }

// Inputs
.ktf {
  background: $dark !important;
  border-color: $medium !important;
  color: $gray !important;
}

// Go button
.cdr_go {
  background: $dark !important;
  border-color: $dark !important;
  color: $gray !important;
}

// SafeSearch bar
#bbar {
  background: $highlight !important;
  border-color: $highlight !important;
  color: $gray !important;
  a { color: $gray !important; }
}

// Pre-results bar
#appbar { background: $light !important; }

// Results number + time
#resultStats { color: $gray !important; }

//---Results---
// Widgets
.vk_c {
  background: $medium !important;
  + div a { color: $gray !important; }
}

.vk_gy { color: $gray !important; }
.vk_bk { color: $white !important; }

// Stocks
#fac-sbtns {
  border-color: $dark !important;

  li {
    border-color: $dark !important;

    > div {
      border-color: $highlight !important;
      color: $highlight !important;
    }
  }
}

// Graph
.xTick,
.yTick {
  line { stroke: $dark !important; }
}

.lcht-hldr {
  .line { stroke: $highlight !important; }
  .outline { stroke: $medium !important; }
  .highlight-line { border-color: $highlight !important; }
  text { fill: $gray !important; }
}

.pclose {
  rect { fill: $highlight !important; }
  text { fill: $white !important; }
}

.fac-hc {
  background: $highlight !important;
  border-color: $highlight !important;
}

.fac-nb,
.fac-nt { border-top-color: $highlight !important; }

// Calculator
// Equation
.cwletbl { color: $gray !important; }

// Calculation box
.cwtlb {
  background-color: $dark !important;
  border-color: $medium !important;
  box-shadow: none !important;
}

#cwotbl { color: $gray !important; }

// Buttons
.cwtlwm { background-color: $medium !important; }

.cwrb-tpl,
.cwdb-tpl,
.cwdgb-tpl {
  background: $dark !important;
  border-color: $medium !important;
  box-shadow: none !important;
  color: $gray !important;
}

.cwdrsb-tpl {
  background-color: $light !important;
  border-color: $medium !important;
}

.cwlgb-tpl {
  background: $light !important;
  border-color: $medium !important;
  color: $gray !important;
}

.cwbb-tpl {
  background: $highlight !important;
  border-color: $medium !important;
}

// Links
.r a,
.fl,
.f a,
g-more-link a span { color: $highlight !important; }

// Link annotations
cite { color: $green !important; }

// Dropdown
.action-menu {
  a { background: $light !important; }
  .mn-dwn-arw { border-color: $green transparent !important; }
}

// Date
.f { color: $white !important; }

// Detail text
.s {
  color: $gray !important;
  .st em { color: $white !important; }
}

// Cards
g-inner-card {
  background-color: $medium !important;
  a { color: $highlight !important; }
}

g-text-expander a { color: $highlight !important; }
g-expandable-content:last-of-type div { color: $silver !important; }

.scrt tr td {
  border-color: $dark !important;
  a:hover { text-decoration: none !important; }
}

// People also ask
#irq > div > div {
  background-color: $medium !important;
  border-color: $dark !important;

  > div[role='button'] > div { @import 'svgs/down-arrow'; }
  a { color: $highlight !important; }
}

//---Sidebar---
.knowledge-panel {
  background: $medium !important;
  a { color: $gray !important; }
  .fl { color: $highlight !important; }
}

// Image results
#media_result_group {
  div div:last-of-type { background: $highlight !important; }

  a {
    color: $gray !important;
    text-shadow: none !important;
  }
}

// Header
.kno-ecr-pt,
kno-share-button { color: $gray !important; }

// Border
.kp-header + div { border-color: $dark !important; }

// Feedback button
.kno-ftr a { color: $gray !important; }

// Suggestion card
.kp-blk {
  background: $medium !important;

  div[role='heading'] {
    color: $gray !important;
    a { color: $highlight !important; }
  }

  span { color: $gray !important; }
  .fl { color: $highlight !important; }
  .ellip { color: $highlight !important; }
  .mod a > div:hover { background: $dark !important; }
}

//---Related searches---
#brs {
  // Title
  .med { color: $gray !important; }
  // Links
  a { color: $highlight !important; }
}

// Current page number
#foot #navcnt .cur { color: $gray !important; }

//---Bottom bar---
#fbar {
  background: $medium !important;
  border-color: $medium !important;
  a { color: $gray !important; }
}
