@import '../variables';

// :root {
//   scrollbar-color: #{$dark $medium} !important;
// }

body { background-color: $light !important; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 { color: $gray !important; }

a { color: $highlight !important; }

.btn-primary {
  background-color: $highlight !important;
  &:hover { background-color: $highlight-dark !important; }
}

.btn-default,
.btn-secondary,
.btn-block {
  border-color: $dark !important;
  color: $gray !important;
  &:hover { color: $white !important; }
}

.btn-default,
.btn-secondary {
  background-color: $medium !important;
  &:hover { background-color: $dark !important; }
}

.btn-block {
  background-color: $light !important;
  &:hover { background-color: $dark !important; }
}

.btn-danger {
  background-color: transparent !important;
  border-color: $red !important;
  color: $red !important;

  &:hover {
    border-color: darken($red, 5%) !important;
    color: darken($red, 5%) !important;
  }
}

.radio_outer {
  fill: $dark !important;
  stroke: $dark !important;
}

.radio_inner { fill: $dark !important; }

// login screen
.form-inline input {
  background-color: $dark !important;
  border-color: $dark !important;
  border-style: solid !important;
}

.well {
  background-color: $dark !important;
  border-color: $dark !important;
}

#signin .social-login { border-color: $light !important; }

#signin .or {
  background-color: $light !important;
  color: $gray !important;
}

.form-control {
  background-color: $light !important;
  border-color: $light !important;
  color: $gray !important;
}

.form-control:focus {
  border-color: $highlight !important;
  box-shadow: none !important;
}

#signin .checkbox { color: $gray !important; }

#signin .account {
  background-color: $dark !important;
  color: $gray !important;
}

.notification {
  background-color: $dark !important;
  border-color: $dark !important;
  box-shadow: none !important;

  .name,
  strong { color: $white !important; }

  .body { color: $gray !important; }

  .close {
    color: $white !important;
    &:hover { filter: brightness(150%) !important; }
  }
}

.dropdown-menu {
  background-color: $medium !important;

  button {
    i,
    span { color: $gray !important; }

    &:hover {
      i,
      span { color: $white !important; }
    }
  }
}

.dropdown-menu-right {
  .button {
    i,
    span { color: $gray !important; }

    &:hover {
      i,
      span { color: $white !important; }
    }
  }

  .btn-default:hover { background-color: $medium !important; }
}

.dropdown-with-pointer::after {
  border-bottom-color: $medium !important;
  border-top-color: $medium !important;
}

// no chat open text
.empty_group {
  h3 { color: $gray !important; }
  .poundie { color: $highlight !important; }
}

// sidebar
.pillar {
  background-color: $dark !important;
  border-color: $dark !important;

  .tab {
    color: $highlight !important;

    &.active,
    &:not(.settings):hover { background-color: $light !important; }

    .badge {
      background-color: $highlight !important;
      border-color: $dark !important;
    }
  }
}

// chats list
#tray { border-color: $medium !important; }

.tray-header {
  .row {
    background-color: $medium !important;
    border-color: $dark !important;
    color: $gray !important;
  }

  h3 { color: $gray !important; }
}

.tray-list .search-result {
  border-color: $dark !important;
  color: $gray !important;
}

.mark-as-read {
  color: $gray !important;
  &:hover { color: $white !important; }
}

.new-chat .dropdown-toggle {
  color: $highlight !important;
  &:hover { color: $highlight-dark !important; }
}

.list-search {
  background-color: $medium !important;
  border-color: $dark !important;

  input {
    background-color: $dark !important;
    color: $white !important;
  }
}

.tray-list {
  background-color: $medium !important;
  .message-preview { color: $gray !important; }

  .list-item {
    border-color: $dark !important;

    &.active,
    &:hover,
    &:focus { background-color: $dark !important; }
  }
}

.gmn-icon-lock { filter: invert(100%) !important; }
.badge-count { background-color: $highlight !important; }

.chat {
  border-color: $dark !important;
  scrollbar-color: $dark $light !important;
}

.chat-header {
  background-color: $light !important;
  border-color: $dark !important;

  .close-chat {
    color: $gray !important;
    &:hover { color: $white !important; }
  }
}

.chat-name { color: $gray !important; }

.chat-menu {
  background-color: $medium !important;
  border-color: $dark !important;
  color: $gray !important;
  .topic-control { border-color: $dark !important; }
}

.chat-messages {
  background-color: $light !important;

  .chat-loading,
  .chat-empty {
    p { color: $gray !important; }
  }
}

.timestamp-divider {
  background-color: $light !important;
  color: $gray !important;
}

.nickname { color: $white !important; }
.message-text { color: $gray !important; }

.message {
  &.highlight,
  &.me,
  &.system { background-color: $medium !important; }

  &:hover button:not(.liked) {
    .gmicon-heart { display: none !important; }
    .gmicon-heart-outline { display: inline-block !important; }
  }

  .pasted { border-color: $dark !important; }
}

.inline-downloader {
  background: $medium !important;
  border-color: $dark !important;
}

.inline-link {
  .link-wrapper { border-color: $medium !important; }
  span { color: $gray !important; }
  &:hover span { color: $white !important; }
}

.attachment {
  background-color: $light !important;
  border-color: $dark !important;
}

.pollattachment {
  background-color: $medium !important;
  color: $gray !important;

  .title {
    border-color: $dark !important;
    color: $gray !important;
  }

  .created-by { color: $gray !important; }

  .info { border-color: $dark !important; }

  .options { background-color: $dark !important; }

  .vote-button {
    background-color: $highlight !important;
    border-color: $highlight !important;

    &:hover {
      background-color: $highlight !important;
      border-color: $highlight !important;
    }
  }
}

#typing {
  background-color: $dark !important;
  color: $gray !important;
  img { filter: invert(100%) !important; }
}

// like button
.likes-container {
  .liked-by-me .gmicon-heart { color: $red !important; }

  &:hover {
    button:not(.liked) {
      .gmicon-heart { display: none !important; }
      .gmicon-heart-outline { display: inline-block !important; }
    }

    button:hover {
      .gmicon-heart-outline { display: none !important; }

      .gmicon-heart {
        color: $white !important;
        display: inline-block !important;
      }
    }

    .liked-by-me:hover .gmicon-heart { color: darken($red, 5%) !important; }
  }
}

// user liked popup
.pop-over {
  background-color: $dark !important;
  &::after { border-top-color: $dark !important; }
}

// message box
.message-composer {
  background-color: $dark !important;
  border-color: $dark !important;
  color: $gray !important;

  div[role='textbox'] {
    &:focus { box-shadow: none !important; }

    &::before,
    &::after { color: $gray !important; }
  }

  .emoji-button {
    color: $gray !important;
    &:hover { color: $white !important; }
  }

  .plus-extender {
    color: $highlight !important;
    &:hover { color: $highlight-dark !important; }
  }
}

// image view buttons
.gallery-zoom .image-info-bar {
  .buttons button {
    background-color: $dark !important;
    color: $gray !important;
    &:hover { color: $white !important; }
  }

  .like-button:hover {
    .gmicon-heart-outline { display: none !important; }
    .gmicon-heart { display: block !important; }
  }
}

.textcomplete-dropdown { border-color: $dark !important; }

.textcomplete-item {
  border-color: $dark !important;

  &.active {
    background-color: $highlight !important;
    > a { background-color: $highlight !important; }
  }
}

// modal dialogs (new group, poll, etc.)
.modal-content {
  background-color: $light !important;
  color: $gray !important;
  .modal-header { border-color: $dark !important; }
  h1 { color: $gray !important; }

  .close span {
    color: $white !important;
    text-shadow: none !important;
  }

  .form-control {
    background-color: $dark !important;
    border-color: $dark !important;
    box-shadow: none !important;
    color: $gray !important;
    &:focus { border-color: $highlight !important; }
  }

  .field-label { color: $white !important; }

  input[type='checkbox'] + button {
    .off { color: $silver !important; }
    .on { color: $highlight !important; }
  }
}

.new-group .search .frameless {
  background-color: $dark !important;
  color: $gray !important;
}

.tray-list {
  scrollbar-color: $dark $medium !important;
}

.groupme-list {
  .alpha-header {
    background-color: $dark !important;
    color: $gray !important;
  }

  .list-heading { color: $gray !important; }

  .list-item:hover {
    background-color: $medium !important;
    .list-heading { color: $white !important; }
  }
}

.chat-empty-group-popover {
  background-color: $dark !important;
  border-color: $dark !important;

  .close span {
    color: $white !important;
    text-shadow: none !important;
  }

  .prompt-text .wrapper { color: $gray !important; }

  button {
    background-color: $light !important;
    border-color: $highlight !important;
    color: $highlight !important;
    &:hover { background-color: $medium !important; }
  }
}

.poll-listing {
  background-color: $dark !important;
  border-color: $dark !important;
}

.poll-nav {
  background-color: $light !important;
  border-color: $dark !important;

  .btn {
    color: $gray !important;
    &:hover { color: $white !important; }
  }

  .header p { color: $gray !important; }

  .vote { border-color: $dark !important; }

  .body {
    line {
      stroke: $medium !important;
      &.nocolorstyle:hover { stroke: $highlight !important; }
    }

    text { fill: $gray !important; }
  }
}

.poll-list {
  background-color: $light !important;
  .text-center { color: $gray !important; }
}

// user info preview
.card-info {
  .divider { border-color: $dark !important; }
  .shared-groups { color: $gray !important; }
}
