@import '../variables';
$shadow: rgba(0, 0, 0, .45);

// loading screen
// #loader { background: $dark !important; }

// shadow fixes for light theme
.SbWINb .HDgBue,
.SbWINb .xnIWt { box-shadow: 0 2px 6px 0 $shadow !important; }

// spinners
.ZqnFk,
.fxjES,
.ZHXbZe,
.fDBOYb { border-color: $highlight !important; }

// toggles
.HEqIpd {
  .espmsb { border-color: $highlight !important; }
  .MLPG7 { border-color: darken($highlight, 15%) !important; }
}

// 'done' button
.e3Duub {
  background: $highlight !important;
  &:hover { background: $highlight-dark !important; }

  a,
  a:hover,
  a:link,
  a:visited { background: $highlight !important; }
}

// overflow menu
.EaAuYe,
.eAhQfc { fill: $gray !important; }
.JPdR6b { background-color: $dark !important;}

// overflow menu items
.z80M1 {
  color: $gray !important;

  // hover
  &.FwR7Pc {
    background-color: $medium !important;
    background-image: none !important;
  }

  // click
  &.qs41qe > .aBBjbd {
    background-color: $light !important;
    background-image: none !important;
    color: $white !important;
  }
}

// settings
.MSfgie,
.zGEQZc,
.uDNKib,
.g3VIld .qRUolc,
.g3VIld .oJeWuf,
.g3VIld .J9fJmf { background: $dark !important; }

// header
.tuQbQc { color: $gray !important; }
.Y6ELgd { fill: $gray !important; }

// status (using data, not connected, etc.)
.JPiiIf,
.r3M5jd { background-color: $light !important; }

// status icon and dismiss button
.JPiiIf,
.xjKiLb { fill: $gray !important; }

// status text
.xqOnkb,
.A1Zctd { color: $gray !important; }

// conversation list
mw-main-nav { background-color: $medium !important; }

.ReFmyd,
.QqyDfe,
.eyZv2b,
.uPuyYb,
.TAyRfc { color: $gray !important; }

// new chat icon
.uMtETc { background-color: $highlight !important; }

// individual conversation
.M0dOV:focus,
.M0dOV:hover,
.LcKYpd:focus,
.LcKYpd:hover,
.fICMMe:focus,
.Fmgnmf:hover { background-color: $light !important; }

// active conversation
.braVhe,
.braVhe:hover { background-color: $dark !important; }

// 'update available' banner
.Mh0NNb {
  background-color: $dark !important;
  .x95qze { color: $highlight !important; }
}

// expanded background when no chat is selected
.Wh4Cqb { background-color: $dark !important; }
.JpzO5d { display: none !important; }
.BUVPxb { display: block !important; }

.JpsRoc,
.I1Ogre { color: $gray !important; }

// // new conversation header
// .MrQ1ie { background-color: $light !important; }

// new conversation search bar
.ihRPVe { background-color: $medium !important; }

// // new conversation search results
// .Dvcjv { background-color: $dark !important; }

// .ByAIO:focus,
// .ADG5de:focus,
// .ADG5de:hover,
// .Bstkbb:focus { background-color: $medium !important; }

// // selected contacts
// .or7jdd { background-color: $highlight !important; }

// // selected contact names
// .tw7pse { background-color: $silver !important; }

// // next button
// .L5LRBd { background-color: $highlight !important; }

// chat header
.SbWINb .BXXoQe { background-color: $dark !important; }

.SbWINb .y9aaxd {
  color: $gray !important;
  fill: $gray !important;
}

// header buttons
.SbWINb .w2DTdc { fill: $gray !important; }

// chat background
.ZGYTxc { background-color: $dark !important; }

// date separators
.SkNmi,
.IJhNbe { color: $gray !important; }

// their chat bubbles
.SbWINb .lXNy8e.zshGI {
  background-color: $light !important;
  color: $gray !important;
}

// your chat bubbles
.SbWINb .YxoJ7.zshGI {
  background-color: $highlight !important;
  color: $white !important;

  // link embeds
  .vYeuPe { background-color: $dark !important; }

  .URJlgf,
  .gBqEHd,
  .q5urFd { color: $white !important; }
}

// timestamps
.XFumA { color: $gray !important; }

// message box area
.LI5sDf { background: none !important; }

// message box
.oZFTfb,
.urWq1d { background-color: $medium !important; }

.Z0Z4Fd,
.Kdcq2 { color: $gray !important; }

// message box buttons
.hIKpEf { fill: $gray !important; }

// emoji and sticker selectors
.lzINm {
  background-color: $medium !important;
  color: $gray !important;
}

// emoji category
.SbWINb .hdcVsf .s7bIcf { background-color: $highlight !important; }

// send button (compact view)
.dUowse.RDPZE .qCxpV { fill: $gray !important; }
.qCxpV { fill: $highlight !important; }
.dUowse.RDPZE .kf6XZb { color: $gray !important; }
.SbWINb .q2eepc { color: $highlight !important; }

// send button (expanded view)
.vtx05 { box-shadow: none !important; }
.urWq1d.RDPZE::after { background-color: $medium !important; }
.urWq1d.RDPZE .qCxpV { fill: $gray !important; }
.urWq1d.RDPZE .kf6XZb { color: $gray !important; }
.kf6XZb { color: $highlight !important; }

// chat details headers
.sbb62e { color: $highlight !important; }

// add people to chat
.AbGhie { border-color: $highlight !important; }
.fOZyre { fill: $highlight !important; }
