@import '../variables';

// header
.gb_de { background-color: $medium !important; }

// logo
.gb_je.gb_oe { color: $white !important; }

// header icons
.gb_Ta svg,
.gb_mc svg { color: $white !important; }

// search bar
.gb_Te.gb_bf { background-color: $dark !important; }

.Ax4B8,
.yNVtPc { color: $gray !important; }

// search completion
.VOEIyf .jBmls { background-color: $dark !important; }

.VOEIyf,
.VOEIyf .jBmls,
.oKubKe { color: $gray !important; }

// selected search result
.oKubKe[aria-selected='true'] { background-color: $light !important; }

// google apps and profile dropdowns
.gb_aa,
.gb_da {
  background-color: $medium !important;
}

.gb_aa { color: $white !important; }

.gb_X { color: $gray !important; }

.gb_T:hover {
  a { border-color: $dark !important; }
  .gb_X { background-color: $dark !important; }
}

.gb_ea {
  background-color: $dark !important;
  color: $gray !important;
}

.gb_Eb { color: $gray !important; }

.gb_vb,
#gb .gb_vb.gb_vb,
.gb_wb a,
#gb .gb_wb.gb_wb a { color: $highlight !important; }

// google account button
.gb_zb .gb_Fb {
  background: $highlight !important;
  &:hover { background: $highlight-dark !important; }
}

// other accounts
.gb_Nb { background: $dark !important; }
.gb_0b { color: $white !important; }
.gb_1b { color: $gray !important; }
.gb_Pb:hover { background: $light !important; }
.gb_Hb { background: $light !important; }

.gb_za {
  background: $medium !important;
  border-color: $dark !important;
  color: $gray !important;

  &:hover {
    background: $dark !important;
    color: $white !important;
  }
}

// page background
.zQTmif { background-color: $light !important; }

// tabs
.zWHNCf { color: $gray !important; }

// selected tab
.zWHNCf .SFllF.KKjvXb {
  background: $highlight-translucent !important;
  color: $highlight !important;
}

// selected tab icon
.zWHNCf .SFllF:hover,
.zWHNCf .SFllF:hover .hGhvff,
.zWHNCf .SFllF.KKjvXb,
.zWHNCf .SFllF.KKjvXb .hGhvff,
.adsYQd.nv5YDc .SFllF,
.adsYQd.nv5YDc .SFllF .hGhvff { color: $highlight !important; }

// sidebar category divider
.Qo7o0c { border-color: $dark !important; }

// currently selected language
.Ikgmhe { color: $white !important; }

// category titles
.dSva6b { color: $gray !important; }
.rdp59b { color: $highlight !important; }

// topic block
.NiLAwe {
  background-color: $dark !important;
  border-color: $dark !important;
}

.MQsxIb { color: $gray !important; }

// article icons
.uUmIDd {
  background-color: $light !important;
  .Xd067b { color: $gray !important; }

  &:hover {
    background-color: $medium !important;
    box-shadow: none !important;
    .Xd067b { color: $white !important; }
  }
}

// article labels
.uBzFKf { color: $white !important; }

// youtube icon
.NqWiob { color: $gray !important; }

// full coverage button
.Xcw0p.ztUP4e {
  color: $gray !important;
  &:hover { color: $highlight !important; }
}

// view more button
.naBZYc {
  .xfudi { color: $gray !important; }
  &:hover .xfudi { color: $highlight !important; }
}

// sidebar
.YDRMcc {
  background: $dark !important;
  .JQQdOc { border-color: $light !important; }

  // in the news tags
  .YDRMcc .To2ZZb.hpDt6e {
    background-color: $light !important;
    border-color: $dark !important;
    color: $gray !important;

    &:hover {
      background-color: $medium !important;
      color: $white !important;
    }
  }
}

// weather info
.bDw0ac { color: $gray !important; }
.LNrHIf .CHM9mc { color: $gray !important; }

// day labels
.giB63b {
  .oWh3Ld { color: $gray !important; }
  .NwrYVd { color: $gray !important; }
}

// weather footer
.wi7gLd { border-color: $light !important; }

.GPmEYb {
  color: $gray !important;
  &:hover { color: $highlight !important; }
  &.KKjvXb { color: $white !important; }
}

.Hrry0c a { color: $highlight !important; }

// favorites tabs
.i9ZCec .GFO5Jd { color: $gray !important; }

// favorites subheaders
.EOlQu .JQQdOc,
.lBwEZb > .JQQdOc { border-color: $dark !important; }

// favorites categories
.To2ZZb.hpDt6e {
  background-color: $dark !important;
  border-color: $dark !important;
  color: $gray !important;
}

.hijjb {
  background-color: $dark !important;
  border-color: $dark !important;
  color: $gray !important;
}

// dropdown menus
.JPdR6b { background: $medium !important; }
.PCd0Ib { color: $gray !important; }

.z80M1 {
  color: $gray !important;

  &.FwR7Pc {
    background: $dark !important;
    color: $white !important;
  }
}

// larger category titles (U.S., World, Local, etc.)
.OJMBqe { color: $gray !important; }

// category follow and share buttons
.RF3lAd {
  background: $dark !important;
  color: $gray !important;
  .Xd067b { color: $highlight !important; }
}

footer { color: $gray !important; }
