@import '../variables';

body { background: $dark !important; }

// link to preferences page
.prefs-button .icon-settings {
  filter: invert(100%) !important;
  &:hover { background-color: invert($light, 100%) !important; }
}

// section icons
.icon-topsites,
.icon-pocket,
.icon-highlights { filter: brightness(180%) !important; }

// search bar
.search-wrapper {
  background-color: $dark !important;
  border-color: $dark !important;

  input {
    background-color: $light !important;
    box-shadow: none !important;
    color: $gray !important;

    &:focus {
      border-color: $light !important;
      + .search-button { background-color: invert($highlight, 100%) !important; }
    }
  }

  .search-button { filter: invert(100%) !important; }
}

// search results
.contentSearchHeader {
  background-color: $medium !important;
  border-color: $dark !important;
  color: $gray !important;
}

.contentSearchSuggestionsContainer {
  background-color: $light !important;
  border-color: $medium !important;
}

.contentSearchSuggestionEntry {
  background-color: $light !important;
  color: $gray !important;
}

.contentSearchSuggestionRow.selected .contentSearchSuggestionEntry {
  background-color: $medium !important;
}

// previous searches icon
.historyIcon { filter: invert(100%) !important; }

.contentSearchSearchWithHeaderSearchText { color: $white !important; }

// search engines
.contentSearchOneOffItem {
  border-color: $dark !important;
  border-image: none !important;
  &.selected { background-color: $medium !important; }
}

.collapsible-section {
  .section-top-bar .context-menu-button { filter: invert(50%) !important; }

  &.active {
    background-color: $light !important;
    .section-top-bar .context-menu-button { filter: invert(100%) !important; }
  }
}

.section-title span,
.top-site-inner .title { color: $gray !important; }

// section info
.section-disclaimer {
  color: $gray !important;

  a {
    color: $highlight !important;
    &:hover { color: $highlight-dark !important; }
  }

  button {
    background: $medium !important;
    border-color: $medium !important;
  }
}

.top-sites-list .top-site-outer:matches(.active, :focus, :hover) .tile,
.card-outer:not(.placeholder):matches(.active, :focus, :hover),
.section-disclaimer button:not(.dismiss):hover {
  box-shadow: 0 0 0 5px $highlight !important;
}

.top-site-icon { background-color: $medium !important; }

.card-outer {
  background-color: $medium !important;
  color: $gray !important;
}

.card-outer:not(.placeholder):matches(.active, :focus, :hover) .card-title {
  color: $highlight !important;
}

.topic-link,
.topic-read-more {
  color: $highlight !important;
  &:hover { color: $highlight-dark !important; }
}

.top-site-outer,
.card-outer {
  .context-menu-button {
    background-color: invert($light, 100%) !important;
    border-color: invert($light, 100%) !important;
    filter: invert(100%) !important;
  }
}

// card footer icon and history indicator
.card-context {
  background-color: invert($medium, 100%) !important;
  filter: invert(100%) !important;
  .card-context-icon { fill: invert($gray, 100%) !important; }
}

// triple dot menu
.context-menu {
  background-color: invert($medium, 100%) !important;
  box-shadow: none !important;
  color: invert($gray, 100%) !important;
  filter: invert(100%) !important;
  .separator { border-color: invert($dark, 100%) !important; }
  a:matches(:focus, :hover) { background-color: invert($dark, 100%) !important; }
}

// footer
#snippets-container {
  background-color: $light !important;
  box-shadow: none !important;
}

.snippet {
  h1 { color: $white !important; }

  p {
    color: $gray !important;

    a {
      color: $highlight !important;
      &:hover { color: $highlight-dark !important; }
    }
  }

  .button-link {
    background-color: $medium !important;
    border-color: $dark !important;
    color: $gray !important;

    &:hover {
      background-color: $dark !important;
      color: $white !important;
    }
  }
}

.block-snippet-button { filter: invert(100%) !important; }

#onboarding-overlay { background: $dark-transparent !important; }

#onboarding-overlay-dialog {
  background: $medium !important;
  color: $gray !important;
}

.onboarding-tour-item {
  &::after { background-color: $gray !important; }

  &.onboarding-active {
    color: $highlight !important;
    &::after { background-color: $highlight !important; }
  }
}

.onboarding-tour-item-container:hover .onboarding-tour-item {
  color: $highlight !important;
  &::after { background-color: $highlight !important; }
}

.onboarding-action-button {
  background-color: $light !important;
  border-color: $dark !important;
  color: $gray !important;

  &:hover {
    background-color: $dark !important;
    color: $white !important;
  }
}

.onboarding-tour-action-button {
  background-color: $highlight !important;
  &:hover { background-color: $highlight-dark !important; }
}

.onboarding-close-btn { filter: invert(100%) !important; }
