@import '../variables';

html[dir='ltr'][mozdisallowselectionprint] {
  body { background-color: $dark !important; }

  ::selection { background: $highlight !important; }

  #toolbarContainer,
  #toolbarSidebar,
  .secondaryToolbar {
    background-color: $light !important;
    background-image: none !important;
    box-shadow: none !important;
  }
}
