@import '../variables';

body { background-color: $light !important; }
header { background-color: $dark !important; }

.focus-visible { box-shadow: none !important; }

input {
  background-color: $dark !important;
  border: 2px solid $dark !important;
  color: $gray !important;
  &:focus { border-color: $highlight !important; }
  &::placeholder { color: $white !important; }
}

.menu::before { background-color: $dark-transparent !important; }

.menu-content {
  background-color: $light !important;
  box-shadow: none !important;
}

.join--presenter-prefix { color: $white !important; }

.join--button {
  background-color: $highlight !important;
  &:hover { background-color: $highlight-dark !important; }
}

.previous-session--button {
  background-color: $medium !important;
  border-color: $dark !important;
  &:hover { background-color: $dark !important; }
}

.component-response-multiple-choice {
  background-color: $light !important;

  &__option {
    background-color: $medium !important;
    color: $gray !important;
    &:not([disabled]):hover { background-color: $dark !important; }

    &__results-count {
      background-color: $dark !important;
      color: $white !important;
    }

    &--vote {
      background-color: $highlight !important;
      > div { opacity: 1 !important; }

      .component-response-multiple-choice__option__results-count {
        background-color: $highlight-dark !important;
      }
    }

    &__value { color: $white !important; }
  }

  &__undo {
    background-color: $medium !important;
    border-color: $dark !important;
    &:hover { background-color: $dark !important; }
  }
}
