@import '../../node_modules/sassdash/index';
@import '../../node_modules/sass-svg/index';
@import '../variables';

page {
  background: $dark !important;
  color: $gray !important;
}

a { color: $highlight !important; }

menulist,
textbox,
button {
  background-color: $light !important;
  border-color: $light !important;
  color: $gray !important;
}

checkbox:hover:not([disabled]),
radio:hover:not([disabled]) { color: $white !important; }

.checkbox-check,
.radio-check {
  background-color: $light !important;
  border-color: $dark !important;
  box-shadow: none !important;
}

.checkbox-check[checked] { background-color: $highlight !important; }

// checkbox category icons
#homeContentsGroup checkbox[src] .checkbox-icon {
  filter: invert(100%) !important;
}

.text-link { color: $highlight !important; }

.sticky-container { background: $dark !important; }

.searchBarHiddenImage {
  list-style-image: none !important;
  @import 'svgs/ff-search-hidden';
}

.searchBarShownImage {
  list-style-image: none !important;
  @import 'svgs/ff-search-shown';
}

// Search engines, content type handlers
#engineList,
#handlersView {
  background-color: $dark !important;
  border-color: $dark !important;

  treecols,
  listheader { border-color: $light !important; }

  treecol {
    background-color: $light !important;
    border-image: none !important;
    border-inline-start-color: $dark !important;
    color: $gray !important;
  }

  .tree-stack { background-color: $white !important; }
}

#engineList treecol:not([hideheader='true']) {
  border-color: $dark !important;
  color: $gray !important;
}

#handlersView scrollbox { background-color: $white !important; }

// Embedded popups
.dialogBox { background-color: $medium !important; }

.groupbox-title {
  background-color: $dark !important;
  border-color: $dark !important;
  color: $gray !important;
}

// Sidebar
#containers-content { background-color: $light !important; }

#categories richlistitem {
  color: $gray !important;
  &[selected] { color: $highlight !important; }
}

.help-button:link { color: $highlight !important; }
