@import '../variables';

body.neterror {
  background-color: $dark !important;
  color: $gray !important;
  h1 { color: $gray !important; }

  button.primary {
    background-color: $highlight !important;
    &:hover { background-color: $highlight-dark !important; }
  }
}
