@import '../variables';

body.illustrated {
  background-color: $dark !important;
  color: $gray !important;
  h1 { color: $gray !important; }

  #tabsToggle {
    background-color: $dark !important;
    color: $highlight !important;
  }

  .button-container {
    button:first-child {
      background-color: $light !important;
      border-color: $light !important;
      color: $gray !important;

      &:hover {
        background-color: $medium !important;
        border-color: $medium !important;
        color: $white !important;
      }
    }

    button.primary {
      background-color: $highlight !important;
      border-color: $highlight !important;

      &:hover {
        background-color: $highlight-dark !important;
        border-color: $highlight-dark !important;
      }
    }
  }
}
