// moz-extension://.*/sidebar/sidebar.html.*
@import '../variables';

:root {
  --tab-surface: #{$light} !important;
  --tab-surface-active: #{$highlight} !important;
  --tab-surface-hover: #{$dark} !important;
  --tab-surface-active-hover: #{darken($highlight, 5%)} !important;
  --tab-text: #{$gray} !important;
  --tab-text-active: #{$white} !important;
  --tab-text-hover: var(--tab-text-active) !important;
  --tab-border: #{$black} !important;
}

#tabbar { background: $dark !important; }

.tab {
  &.discarded { opacity: 0.75 !important; }
  &:hover span { --tab-text: #{$white} !important; }
}
