@import '../variables';

// main background
body { background: $light !important; }

// header bar
.l-header-container--refresh {
  background-color: $medium !important;
  box-shadow: none !important;
}

// default search bar
.ui_search .search_query { background: $dark !important; }

// notification icons
.tab-bar-container .tab_notice {
  background: $highlight !important;
  border-color: $medium !important;
}

// new post button
.compose-button { fill: $highlight !important; }

// header dropdowns
.popover_inner,
.popover_inner_list { background-color: $medium !important; }

.popover_inner { box-shadow: none !important; }

.popover_header {
  background: $dark !important;
  border-color: $dark !important;
  color: $gray !important;
}

.popover_menu_item:hover:not(.popover_menu_item_blog) {
  background: $dark !important;
}

.popover_menu_item_anchor { color: $gray !important; }

.popover_menu_item_blog {
  background: $medium !important;
  &:hover { border-color: $dark !important; }
}

.blog-list-item:hover,
.blog-sub-nav-item:hover {
  background: $dark !important;
  box-shadow: none !important;
}

.blog-list-item-info-name,
.blog-sub-nav-item-label { color: $gray !important; }

.blog-selector-container .selected-blog { color: $gray !important; }

.pop-menu {
  background: $medium !important;
  .name { color: $gray !important; }

  .item-option {
    &.selected::before { color: $gray !important; }
    &:hover { background-color: $dark !important; }
  }
}

// messaging dropdown
.messaging-inbox {
  .inbox-header,
  .inbox-conversation { border-color: $dark !important; }

  .inbox-conversation:hover { background-color: $dark !important; }

  .name { color: $gray !important; }

  .inbox-compose input {
    background-color: $dark !important;
    color: $gray !important;
  }

  .inbox-recipients {
    background-color: $medium !important;

    h2 {
      background-color: $dark !important;
      border-color: $dark !important;
      color: $gray !important;
    }
  }

  .inbox-recipient {
    background-color: $medium !important;
    border-color: $dark !important;
    &:hover { background-color: $dark !important; }
  }

  .inbox-row h3 { color: $gray !important; }
}

// activity
.blog-activity {
  .blog-activity-content { border-color: $dark !important; }

  .date_header {
    background-color: $dark !important;
    color: $gray !important;
  }

  .activity-notification {
    background-color: $medium !important;
    border-color: $dark !important;
    &__activity_message.conversational { background-color: $dark !important; }
  }

  .activity { color: $gray !important; }
  .notification-tumblelog-link { color: $highlight !important; }

  .ui_post_badge {
    &.regular { background-color: $silver !important; }
    &.audio { background-color: $purple !important; }
  }

  .blog-activity-more {
    background-color: $dark !important;
    border-color: $dark !important;
    color: $gray !important;
  }

  .xkit-reply-button-pn {
    background-color: $dark !important;
    border-color: $dark !important;
  }
}

// background of posts and sidebar
.l-content,
.left_column,
.right_column { background-color: $light !important; }

// gradient at bottom of sidebar
.right_column::after { background: transparent !important; }

// icon 'track' (when it slides along the side)
.post_avatar,
.post_avatar_link { background-color: $light !important; }

// new post quick buttons
.new_post_label {
  color: $gray !important;
  .icon_post_text { color: $white !important; }
}

// music
.audio-player { background: $purple !important; }

// actual posts
.post { background-color: $dark !important; }

.reblog-list { border-color: $dark !important; }
.reblog-header .reblog-tumblelog-name { color: $white !important; }
.post_permalink { border-color: $light $light transparent transparent !important; }

.original-reblog-content {
  background-color: $dark !important;
  color: $gray !important;
}

.reblog-list-item {
  border-color: $dark !important;
  color: $gray !important;
  &:nth-child(2n) { background-color: $medium !important; }
  &:nth-child(2n+1) { background-color: $dark !important; }
}

.post_body { color: $gray !important; }

.post-source-footer {
  background: $dark !important;
  color: $gray !important;
  a { color: $white !important; }
}

.tmblr-attribution {
  background-color: $medium !important;
  color: $gray !important;
  &:hover { background-color: $dark !important; }
}

// xkit extra buttons
.xkit-interface-control-button::after,
.xkit_bookmarker_button::after { filter: invert(100%) !important; }

// notes
.popover {
  border-color: $medium !important;
  color: $gray !important;
}

.popover-inner {
  background: $medium !important;
  box-shadow: none !important;
}

.post-activity-header {
  border-color: $dark !important;
  .primary-message { color: $gray !important; }
}

.post-activity-rollups { border-color: $medium !important; }
.post-activity-notes { background-color: $dark !important; }

.post-activity-note {
  background-color: $dark !important;

  &.with-commentary .post-activity-note-content {
    background-color: $medium !important;
  }
}

.note-text-link,
.note-added-text { color: $gray !important; }

// note actions
.info_popover {
  button { color: $gray !important; }

  li:hover {
    background-color: $dark !important;
    button { color: $white !important; }
  }
}

.post-activity-reply { border-color: $dark !important; }

.editor-slot {
  background: $light !important;
  .opener { display: none !important; }
  .text-input { color: $gray !important; }
}

// xkit quick reblog
#x1cpostage_box {
  background-color: $dark !important;

  &::before,
  &::after { border-top-color: $dark !important; }
}

#x1cpostage_tags {
  background-color: $medium !important;
  color: $gray !important;
  &::placeholder { color: $white !important; }
}

#x1cpostage_caption {
  background: $medium !important;
  box-shadow: none !important;
  color: $gray !important;
  &::placeholder { color: $white !important; }
}

#x1cpostage_replace {
  background: $dark !important;
  color: $gray !important;
}

#x1cpostage_remove_caption {
  background: $dark !important;
  border-color: $light !important;
  color: $gray !important;
}

#x1cpostage_blog {
  background: $medium !important;
  color: $gray !important;
}

#x1cpostage_reblog,
#x1cpostage_queue,
#x1cpostage_draft {
  background: $dark !important;
  &:hover { color: $gray !important; }
}

// messages
.messaging-conversation {
  .conversation-header,
  .conversation-header-main { background-color: $dark !important; }

  .conversation-header-image { display: none !important; }

  .title { color: $highlight !important; }
  .controls { color: $gray !important; }

  .conversation-main {
    background-color: $dark !important;
    color: $gray !important;
  }

  .conversation-compose { background-color: $dark !important; }

  .text-input {
    background-color: $medium !important;
    color: $gray !important;
    &::placeholder { color: $white !important; }
  }

  .compose-text-input-container { background-color: $dark !important; }

  .conversation-compose-plugin,
  .submit { color: $highlight !important; }
}

.xkit-others_messaging_icon + .message-bubble {
  background-color: $light !important;
  color: $gray !important;
}

.popover--gif-search {
  background-color: $medium !important;
  .gif-search-input { border-color: $dark !important; }

  .editor-slot,
  .editor-placeholder { background-color: transparent !important; }

  .editor-wrapper::before { color: $gray !important; }

  .editor {
    background-color: transparent !important;
    color: $gray !important;
  }
}

.message-bubble {
  background-color: $highlight !important;
  color: $white !important;
}

// backdrop when sidebar is open
.ui_peepr_glass { background-color: $dark-transparent !important; }
